/*CSS Library*/

/*COMPONENTS*/
@import url('components/topnavbar_styles.css');
@import url('components/form_styles.css');
@import url('components/buttons_styles.css');
@import url('components/flash_message_styles.css');
@import url('components/sidebar_styles.css');
@import url('components/footer.css');
@import url('components/notifications_styles.css');

/*REGISTRATION*/
@import url('pages/signup.css');

/* LOGIN */
@import url('pages/login.css');

/* FORGOT PASSWORD */
@import url('pages/forgot_password.css');
@import url('pages/reset_password.css');


/* ITEM ADS */
@import url('item_Ads/item_ads_styles.css');
@import url('item_Ads/message_styles.css');
@import url('item_Ads/offer_styles.css');
@import url('item_Ads/other_interactions_styles.css');
@import url('item_Ads/seller_only_styles.css');
@import url('item_Ads/item_type_styles.css');
@import url('item_Ads/ad_index_page.css');
@import url('item_Ads/ad_create.css');

/* MODERATOR CSS */
@import url('moderators/register.css');
@import url('moderators/login.css');

/*ADMIN DASHBOARD*/
@import url('pages/admin_dashboard_styles.css');
@import url('pages/wishlist.css');
@import url('pages/v_sechome.css');
@import url('pages/v_recyclehome.css');
@import url('pages/v_prodetails.css');
@import url('pages/v_help.css');
@import url('pages/v_errorpage.css');
@import url('pages/v_collectorhome.css');
@import url('pages/v_admindashboard.css');
@import url('pages/v_sellerpro.css');
@import url('pages/v_addpayment.css');
@import url('pages/v_paymentportal.css');

/* FONTS */
@font-face {
    font-family: "San Francisco";
    src: url(fonts/SF-Pro.ttf);
}

/* @font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto.ttf);
} */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: small;
    text-align: left;
    /* background-color: #a6b69a; */
    /* background-color: #a6b69aba;  */
    color: #333;
}
