/*CSS Library*/

/*COMPONENTS*/
@import url('components/topnavbar_styles.css');
@import url('components/form_styles.css');
@import url('components/buttons_styles.css');
@import url('components/flash_message_styles.css');
@import url('components/sidebar_styles.css');
@import url('components/profile_styles.css');
@import url('components/notifications_styles.css');

/*REGISTRATION*/
@import url('pages/signup.css');

/* LOGIN */
@import url('pages/login.css');

/* ITEM ADS */
@import url('item_Ads/item_ads_styles.css');
@import url('item_Ads/message_styles.css');
@import url('item_Ads/offer_styles.css');
@import url('item_Ads/other_interactions_styles.css');
@import url('item_Ads/seller_only_styles.css');

/*ADMIN DASHBOARD*/
@import url('pages/admin_dashboard_styles.css');
@import url('pages/wishlist.css');
@import url('pages/v_sechome.css');
@import url('pages/v_recyclehome.css');
@import url('pages/v_prodetails.css');
@import url('pages/v_help.css');
@import url('pages/v_errorpage.css');
@import url('pages/v_collectorhome.css');
@import url('pages/v_admindashboard.css');
@import url('pages/v_sellerpro.css');
@import url('pages/v_addpayment.css');

/* FONTS */
@font-face {
    font-family: ARIAL;
    src: url(fonts/ARIAL.TTF);
}

body{
    margin: 0;
    font-family: ARIAL;
    font-size: small;
    text-align: left;
    /* background-color: #a6b69a; */
    background-color: #a6b69aba; 
    color: #333;
}

