.form-btn{
    background-color:#75a080;
    color: white;
    padding: 15px 20px;
    margin: 20px 10px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 97%;
    transition: -2s all;
}

.form-btn1{
    background-color:#729e7d;
    color: white;
    padding: 15px 30px;
    margin: 4px 100px 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    transition: -2s all;
}

.form-btn:hover {
    opacity: 0.8;
    background-color:#75a080f3;
}

