/* .user-dropdown {
    position: relative;
    display: inline-block;
} */

.notif-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
}

.dropdown-toggle {
    cursor: pointer;
}

.fas.fa-bell {
    font-size: 22px; 
    position: relative;
    /* top: 50%;
    left: -100%;
    transform: translate(-50%, -50%); */
}

.notif-count {
    font-size: 10px;
    color: #fff;
    position: relative;
    left: -14px;
    padding: 2px 5px;
    background-color: Red;
    border-radius: 100%;
}

#notificationCount.hidden {
    display: none;
}

.caret {
    position: absolute;
    top: 170%;
    /* right: 2px; */
    /* top: 100%; */
    left: 5%;  
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    color : #fff; 
    border-width: 0 10px 10px;
    border-color: transparent transparent #fff;
    display: none;
}

.notif-dropdown-menu {
    display: none;
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 190%;
    right: -15px;
    z-index: 1;
    min-width: 350px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;  
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* overflow: hidden; */
    border-radius: 10px;
    max-height: 350px; 
    overflow-y: auto;
    z-index: -1;

    /* Always display the scrollbar */
    overflow-y: scroll;

    /* Webkit browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.notif-dropdown-item {
    padding: 10px !important;
    text-decoration: none; 
    color: #333 !important; 
    /* display: block !important; */
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    transition: background-color 0.3s;
    /* background-color: #9c9c9c81; */
    background-color: #fff;
    min-height: 10px;
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
}

.notif-dropdown-item .message {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px; 
    transition: max-width 0.3s ease-in-out;
}

.notif-dropdown-item:hover {
    background-color: #f5f5f5; 
    /* max-width: 100%; */
    height: auto;
    border-radius: 10px;
}

.notif-dropdown-item:hover .message,
.notif-dropdown-item.mark-as-read-active .message  {
    white-space: normal;
    overflow: visible;
    padding: 1px 2px;
    padding-left: 8px;
    /* text-align: justify; */
}

.notif-dropdown-item .notif-empty-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: 300px;
    width: 100%;
    color: #333;
    display: block;
    /* background-color: rgba(242, 242, 242, 0.778); */
    /* background: linear-gradient(to bottom, rgba(242, 242, 242, 0.778), rgba(255, 255, 255, 0)); */
    /* background: radial-gradient(circle at center, rgba(235, 234, 234, 0.778), rgba(255, 255, 255, 0) 70%); */
}

.notif-dropdown-item .notif-empty-message0 {
    margin-top: 100px;
    display: block;
}

.notif-dropdown-item .notif-empty-message1 {
    display: block;
    margin-top: 8px;
    color: #656565;
}

.notif-dropdown-item .view-ad-link {
    margin-left: auto;
    color: #007bff !important;
    cursor: pointer;
}

.notif-dropdown-item .mark-as-read {
    color: #616264 !important;
    margin-left: 10px;
    cursor: pointer;
}

.notif-dropdown-item .mark-as-read:hover {
    color: #dd2222 !important;
    cursor: pointer;
}

.mark-as-read-active {
    background-color: #e4e5e4; 
    height: auto !important;
    border-radius: 10px;
}

.notif-popup{
    z-index: 10000 !important;
    position: fixed !important; 
    top: 150px !important; 
    right: 500px !important; 
}
