/* .{
   margin:0;
   padding:0;
   box-sizing:border-box;
} */

.sidebar{
    position:fixed;
    display: none;
    top:0;
    right:0;
    height:230px;
    width:250px;
    /*background:rgba(18, 37, 6, 0.418);*/
    background: #1d1b31;
    color: #fff;
    margin-top: 60px;
    z-index: 1;
}

.logo-details {
    display: flex;
    align-items: center;
    /* padding: 20px; */
    align-items:center;
    margin-left:33px;
}

.sidebar .logo-details i{
    font-size:25px;
    color:#fff;
    min-width: 78 px;
    text-align:center;
    margin: 10px 25px 0px 0px;
    /* line-height: 50px; */
}

.sidebar .logo-details .logo_name{
    font-size:19px;
    color:#fff;
    font-weight: 600;
    margin-left: 10px;
    
}

.sidebar .nav-links{
    height:100%;
    /* padding-top:30px; */
}

.sidebar .nav-links li{
    list-style:none;
    position:relative;
    border-bottom: #fff;
    margin-top: 15px;
    padding: 5px 20px 5px 5px; 
}

.nav-links i {
    margin-right: 10px;
    font-size: 25px;
    margin-top:3px;
}

.sidebar .nav-links li i{
    /* height:30px; */
    min-width:78px;
    text-align: center;
    /* line-height:50 px; */
    color: #fff;
}

.nav-links li {
    padding: 0px 20px;
    transition: all 0.3s ease;
    border-bottom: #fff;
}

.sidebar .nav-links li:hover{
    list-style:none;
    position:relative;

}

.sidebar .nav-links li .icon-link{
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}



.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight:400;
    color:#fff;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar .nav-links li .sub-menu{
    padding:6px 6px 14px 80px;
    margin-top: -10px;
    background:#1d1b31 ;
}

.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size:15px;
    padding:5px 0;
    
}
/* .home-section{
    position:relative;
    background:red;
    right:260px;
    width:calc(100%-260px);  
} */

/* Navigation Links Styles */
.nav-links {
    list-style: none;
    padding: 0;
}



.nav-links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;

}



/* Submenu Styles */
.sub-menu {
    display: none;
    list-style: none;
    padding: 0;
}

.sub-menu li {
    padding: 8px 40px;
    transition: all 0.3s ease;
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 18px;
    margin-left: auto;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

/* Hover Styles */
.nav-links li:hover,
.sub-menu li:hover {
    background-color: rgba(18, 37, 6, 0.646); /* Darker background color on hover */
}

.icon-link:hover .arrow {
    transform: rotate(180deg); /* Rotate arrow on hover */
} 
