.topnav{
  width: 100vw;
  height: 60px;
  background-color: rgb(18, 37, 6);
  
  /* position: fixed;
  top: 0 */
  }

.topnav .items{
  width: 100vw;
  display: flex;
  margin-left: 15px;
}

.topnav .items .item{
  width: 7vw;
  font-size: 16px;
  /* margin-top: 10px; */
}

/* .topnav .items .search{
  width: 280px;
  margin-left: 30px;
  background-color: rgb(0, 0, 0);
}

.topnav .items .search input{
  padding-bottom: 5px;
} */

.topnav .items .logo{
  width: 65px;
  height: 40px;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 5px;
  /* position: fixed; */
}

.topnav .items .links{
  position: absolute;
  right: 10px;
  padding: 10px;
  margin: 0px 0px 10px;
  display: flex;
  text-align: center;
  color: white;
}

.topnav .items .links a{
  color: white;
  text-decoration: none;
  
}

.topnav .items .links .user{
  /* height: 22px;
  width: 22px; */
  width: 39px; 
  height: auto;
  cursor: pointer;
  margin-bottom: 12px;
}

.items{
  position: absolute;

}

.sidebr{
  margin-right: 28px;
  margin-bottom: 10px;
}
