.topnav {
  
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg,  #197149,#0b3e27);
  position: relative;
  
  z-index: 9999; /* Set a high z-index value to bring the topnav bar in front of everything */
}


.topnav .items {
  height: 100%;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav .items .item {
  /* width: 7vw; */
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.topnav .items .logo {
  width: auto;
  margin-left: 0.4rem;
  /* width: 2vh; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* margin-top: 7px; */
  transition: all 0.3s ease-in-out;
}

.topnav .items .links {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-right: 1rem;
}

.topnav .items a {
  color: rgb(197, 241, 201);
  text-decoration: none;
}

.topnav .items a:hover {
  color: white;
}

.topnav .items .item:hover {
  font-size: 14.5px;
  transform: translateZ(0);
}

.profile-image img{
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}



@media screen and (max-width: 600px) {
  .topnav .items {
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav .items .item {
    /* width: 100%; */
    font-size: 12px;
  }

  .topnav .items .logo {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .topnav .items .links {
    justify-content: center;;
    text-decoration: none;
  }

  .topnav .items .item:hover {
    /* text-decoration: none; */
    font-size: 14px;
    transform: none;
    box-shadow: none;
  }
}



/* Rest of the code remains unchanged */


.search-button-index:hover {
  background: #729e7d;
}

.search-icon-index {
  height: 15px;
  position: relative;
  top: 2px;
  
}

.search-container-wrapper {
  width: 40%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  position: absolute;
  height: 60px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* background: red; */
}

.selectad-category option {
  padding: 12px;}


.wishlistitem {
  width: 25px;
  transition: filter 0.1s;
}

.wishlistitem:hover {
  filter: brightness(0) invert(1);
}


.wishlist-count {
   font-size: 10px;
    color: #fff;
    position:relative;
    left:-14px;
    padding:2px 5px;
    background-color: Red;
    border-radius: 100%;
}

/* SEARCHBAR */
.search-container-index {
  /* position: absolute; */
  display: flex;
  align-items: center;
  height: 60px;
}
/* .search-category-index {
  margin-left: 0px;
  margin-top: 5px;
  padding:12px 1px;
  background:#219657b5;
  border: 1px solid #117e3b; 
  cursor: pointer;

  background:#219657b5;
  border: 1px solid #117e3b; 
  cursor: pointer;
} */

.search-input-index {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  font-size: 16px ;
  height: 2.3rem;
  width:90%;
  z-index: 3;
}

.search-button-index {
  /* background: #117e3b;  */
  background:#219657b5;
  border: 1px solid #117e3b;
  border-radius: 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left:0;
  /* margin-top:5px; */
  z-index: 3;
  justify-content: center;
  text-align: center; 
  /* border-radius: 0 50% 50% 0; */
  border-radius:  0 5% 5%  0 ;
}

.search-button-index:hover {
  background:#729e7d;
}

.search-icon-index {
  height: 16px;
  position: relative;
  top: 2px;
} 

.search-category-index option:checked {
  color: white;
}

.search-category-index {
  margin-left: 0px;
  /* margin-top: 5px; */
  padding:12px 1px;
  background:#219657b5;
  border: 1px solid #117e3b; 
  cursor: pointer;
  z-index: 3;
  justify-content: center;
  text-align: center; 
  align-items: center;
  border-radius: 5% 0 0 5% ;
 
}

.selectad-category option {
    padding: 12px; 
}


.selectad-category{
  color:brown;
}

.search-category-index {
  background-size: 15px; /*size of the arrow icon */
  color: white; /* text color to white */
}

@media screen and (max-width: 300px) {
  .search-container-index {
    width: 100%;
    margin-left: 0;
  }

  .search-input-index {
    padding: 15px;
  }

  .search-button-index {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .search-container-wrapper {
    position: relative;
    margin: 0 0;
  }
}

