.user-greeting {
    font-size: 15px;
    color: #3f3f3f;
    margin: 30px 50px;
}

.ads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px;
}

.ad-show-link {
    text-decoration: none;
}

.ad-index-container {
    width: 28%; 
    background: #ffffff27; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-left: 40px;
    /* padding: 10px;  */
    padding: 1px;
    border-radius: 5px;
    text-align: center;
    transition: 300ms ease-in;
}
.ad-index-container:hover {
    background: rgba(255, 255, 255, 0.532);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    border-radius: 5px;
}

.ad-header {
    margin-bottom: 10px;
}

.ad-user-name {
    font-weight: bold;
    color:#333;
    text-align: left;
    margin-left: 8px;
}

.ad-created-at {
    color: #777;
    font-size: 12px;
    padding: 4px 0px;
    text-align: left;
    margin-left: 8px;
}

.ad-item-name {
    margin-top: 6px;
    font-size: 17px;
    color:#333;
    text-align: left;
    margin-left: 8px;
    padding-bottom: 8px;
}

.ad-body-desc {
    display: none;
    margin-bottom: 20px;
    color: #555;
    text-align: justify;
}

.ad-body-image img {
    /* width: 98%; */
    width: 100%;
    /* height: auto; */
    border: 1px solid #ccc;
    height: 170px;
    object-fit: cover;
}

.ad-footer {
    display: none;
    /* display: flex;
    justify-content: space-between; */
    margin-top: 10px;
}

.ad-price {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 8px;
}

.post-control-btns {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.ad-edit-btn,
.ad-delete-btn {
    background-color: #8e8e8e;
    color: #fff;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; 
    align-self: right;
}

.ad-report-btn {
    background-color: #b29393;
    color: #fff;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; 
    align-self: right;
}

.ad-edit-btn:hover,
.ad-delete-btn:hover {
    background-color: #444;
}

.ad-report-btn:hover {
    background-color: #af7b7b;
}

.ad-contact-btn, .ad-offer-btn, .ad-bid-btn {
    background-color: #789476;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    align-self: left;
}

.ad-wishlist-btn img {
    width: 20px;
    height: 20px;
}

.ad-contact-btn:hover,
.ad-offer-btn:hover,
.ad-bid-btn:hover {
    background-color: #444;
} 

@media screen and (max-width: 768px) {
    .ads-container {
        flex-direction: column;
    }

    .ad-index-container {
        width: 100%;
    }
} 
