.type-background{
    /* background:linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)), url('../../img/itemAds/pillows.jpg') no-repeat; */
    background:linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)), url('../../img/itemAds/plant.jpg') no-repeat;
    background-size: cover;
    /* filter: blur(10px); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.type-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10px;
    padding: 50px 60px;
    background-color:  #fff;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    width: 380px;
    border: 1px solid #d3d3d3;
    text-align: left;
    position: relative;
}

.type-input-type-title {
    margin-bottom: 10px; 
    font-size: 20px;
    font-weight: 550;
    color: rgb(83, 127, 56);
    font-family: Arial, Helvetica, sans-serif; 
}

.type-input-type{
    display: flex;
    align-items: center;
}

.type-radio {
    margin-right: 5px; 
    margin-left: 20px;
    margin-top: 16px;
} 

.type-name {
    color: #515151; 
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px; 
    margin-left: 20px;
    margin-top: 16px;
}

button.continue {
    font-size: 16px;
    background-color: #fdfdfd !important;  
    color: rgb(67, 67, 67) !important;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-right: 60px !important;
    cursor: pointer;
    border-radius: 4px;
    position: absolute; 
    bottom: 0; 
    right: -40px; 
}

/* Optional: Add hover effect to the button */
button.continue:hover {
    background-color: #86d38a;
}
