/* AD INDEX PAGE
.ad-index-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color:  #fff;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
    border: 1px solid #d3d3d3;
}

.ad-index-container .ad-header{
    padding: 5px;
    display: flex;
    flex-direction: row;
} 

.ad-index-container .ad-header .ad-user-name{
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.ad-index-container .ad-header .ad-created-at{
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.ad-index-container .ad-body .ad-body-image{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    width: 50%;
}

.ad-index-container .ad-body .ad-body-desc{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
}

.ad-index-container .ad-footer .ad-price{
    margin-top: 15px;
    margin-left: 10px;
} */

/* NEW STYLES FOR INDEX PAGE */

/* Style for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Style for the container of each ad */
.ad-index-container {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(20% - 20px); /* Adjust the width as needed */
    display: inline-block;
    vertical-align: top;
}

/* Style for the header section of each ad */
.ad-header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column; /* Display items in a column */
}

.ad-user-name {
    font-weight: bold;
    font-size: 1.2em; /* Increase font size for the username */
    margin-bottom: 5px;
}

.ad-created-at {
    color: #777;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.ad-item-name h2 {
    font-size: 1.5em;
    margin: 10px 0; /* Add spacing for the item name */
}

/* Style for the body section of each ad */
.ad-body {
    margin-top: 10px;
}

.ad-body-desc {
    font-size: 1em;
    line-height: 1.4;
}

/* Style for the footer section of each ad */
.ad-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ad-price {
    font-size: 1.2em;
    color: #e44d26;
    font-weight: bold;
}








/* CREATE ITEM AD */
.ad-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color:  #fff;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
    border: 1px solid #d3d3d3;
}

.ad-container textarea {
    background: #f1f1f1;
    border: 1px solid #d5d2d2;
    border-radius: 5px;
}

.item_category {
    margin-top: 5px;
    padding: 8px 0px 8px 2px; 
    width: 99%; 
    border: 1px solid #d5d2d2;
    border-radius: 5px;
}

.selling_format{
    margin-top: 5px;
}