
.user-greeting {
    font-size: 15px;
    color: #3f3f3f;
    margin: 30px 50px;
}

.ads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px;
}

.ad-index-container {
    width: 28%; 
    background: #ffffff27; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-left: 40px;
    padding: 10px; 
    border-radius: 5px;
    text-align: center;
    transition: 300ms ease-in;
}
.ad-index-container:hover {
    background: rgba(255, 255, 255, 0.532);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    border-radius: 8px;
}

.ad-header {
    margin-bottom: 10px;
}

.ad-user-name {
    font-weight: bold;
    color:#333;
    text-align: left;
}

.ad-created-at {
    color: #777;
    font-size: 12px;
    padding: 4px 0px;
    text-align: left;
}

.ad-item-name {
    font-size: 18px;
    color:#333;
    text-align: left;
}

.ad-body-desc {
    margin-bottom: 20px;
    color: #555;
    text-align: justify;
}

.ad-body-image img {
    width: 98%;
    height: auto;
    border: 1px solid #ccc;
}

.ad-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ad-price {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.post-control-btns {
    display: flex;
    align-items: right;
    margin-left: 250px;
}

.ad-edit-btn,
.ad-delete-btn {
    background-color: #8e8e8e;
    color: #fff;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; 
    align-self: right;
}

.ad-report-btn {
    background-color: #b29393;
    color: #fff;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; 
    align-self: right;
}

.ad-edit-btn:hover,
.ad-delete-btn:hover {
    background-color: #444;
}

.ad-report-btn:hover {
    background-color: #af7b7b;
}

.ad-contact-btn, .ad-offer-btn, .ad-bid-btn {
    background-color: #789476;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    align-self: left;
}



.ad-wishlist-btn img {
    width: 20px;
    height: 20px;
}

.ad-contact-btn:hover,
.ad-offer-btn:hover,
.ad-bid-btn:hover {
    background-color: #444;
} 


@media screen and (max-width: 768px) {
    .ads-container {
        flex-direction: column;
    }

    .ad-index-container {
        width: 100%;
    }
} 




/* CREATE ITEM AD */
.ad-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px 40px;
    background-color:  #fff;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
    border: 1px solid #d3d3d3;
}

.ad-container textarea {
    background: #f1f1f1;
    border: 1px solid #d5d2d2;
    border-radius: 5px;
}

.item_category {
    margin-top: 5px;
    padding: 8px 0px 8px 2px; 
    width: 99%; 
    border: 1px solid #d5d2d2;
    background: #f1f1f1;
    border-radius: 5px;
}

.selling_format{
    margin-top: 5px;
}

input[type=text], input[type=number]{
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    width: 95%;
    height: 25px;
    padding-top: 13px;
    padding-left: 15px;
    margin-right: 30px ;
    margin-top: 5px;
    background: #f1f1f1;

    font-size: 15px;
    outline: none;
    display: block;
}

input[type=text]:focus,[type=password] {
    border: 1px solid #7bd664;
}

.form-drag-area.active{
    border: 2px dashed #7bd664;
    background-color: antiquewhite;
}

.form-drag-area .icon img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 5%;
    display: block;
    transition: 300ms ease-in;
}  */


.form-drag-area {
    /* border: 2px dashed #ccc; */
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    transition: 300ms ease-in;
}

.form-drag-area .icon {
    margin-bottom: 10px;
}

#item_img_placeholder {
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-drag-area-text {
    font-size: 14px;
    color: #777;
    margin: 2px 0;
}

.form-drag-area-or {
    font-weight: bold;
    font-size: 13px;
    color: #696969;
    margin: 5px 0;
}

.form-drag-area-btn {
    color: #777;
    padding: 7px 2px 2px 0px;
    width: 40%;
    height: 20px;
    background: #f1f1f1;
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 auto;
}

.form-drag-area-btn:hover {
    background-color: rgb(165, 165, 165);
    color: #dddddd;
}


/* css for search bar in v_index page */

/* 
.search-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-container-index {
    display: flex;
    align-items: center;
}

.search-category-index {
    margin-right: 0px;
    padding: 12px 0px;
    background: #219657b5;
    
    border: 1px solid #000;
    cursor: pointer;
}

.search-input-index {
    flex: 1;
    margin-right: 0px;
    padding: 8px 15px;
    
    border: 1px solid #000;
    font-size: 16px;
    outline: none;
    margin-top: 0px;
    width: 40vw;
    background: #f1f1f1;
    height: 25px;
    display: block;
}

.search-button-index {
    background: #219657b5;
   
    border: 1px solid #000;
    border-radius: 0;
    padding: 11px 15px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 0;
    margin-top: 0px;
}

.search-button-index:hover {
    background: #729e7d;
}

.search-icon-index {
    height: 15px;
    position: relative;
    top: 2px;
}

.selectad-category option {
    padding: 12px;
} */