/* Message Seller */
/* .message-seller-container{} */

.sad-main-container2 {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* padding: 2%; */
    /* background-color: #fff; */
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); */
}

.sad-main-container3-left {
    flex: 1;
    margin-right: 1.5%;
    /* margin-left: 0px; 
    margin-right: 35%; 
    margin-top: 1%; 
    margin-bottom: 3%; */
    padding: 2%;
    width: 62%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.sad-main-container3-left-in-dashboards{
    flex: 1;
    margin-left: -79px;
    padding: 2%;
    width: 118%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.message-header{
    margin-top: 5;
    /* margin-bottom: 5; */
    display: flex;
    color: #333;
    margin-left: 8%;
    font-size: 16px;
} 

.message-input{
    margin-top: 5;
    margin-bottom: 5;
    margin-right: 480px;
    color: #333;
    background-color: #fff;
    padding: 5px; 
    display: flex;
    margin-left: 2%;
    width: 600px;
}

.message-input-field{
    margin-top: 5;
    /* margin-bottom: 10px; */
    /* width: 40%; */
    width: 650px;
    color: #333;
    border: #b2b1b1 1px solid;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px;
    display: flex;
}

.message-input-field:focus {
    outline: none; 
    border: 2px solid #646464;
}

.message-btn{
    color: #333;
    width: 100px;
    height: 42px;
    /* margin-top: 5px; */
    margin-left: 8px;
    background-color: #729e7dc6;
    border: 1px solid #ffffff;
    border-radius: 5px;

}


/* Individual messages */

.message-container{
    margin-top: 1%;
    /* margin-bottom: 3%; */ 
    /* padding: 2%; */
    /* border: 1px solid #D4E7F3; */
    border: 1px solid #cfd5d8;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    /* height: 50px; */
    width: 600px;
    margin-left: 2%;
}

/* MESSAGE LEFT */
/* user photo */
.message-left{
    border-right: 1px solid #D4E7F3;
    /* margin-top: 20px; */
    padding: 1%;
}

#user_placeholder{
    width: 40px;
    /* height: 30px; */
} 

/* MESSAGE RIGHT */
.message-container .message-right{
    width: 100%;
    padding: 1%;
    /* height: 20px; */
    display: inline-block;
}

.message-header1{
    margin-top: 0;
    margin-bottom: 0;
    /* padding-top: 1%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    color: #333;
}

.message-user-name{
    color: #959595;
    font-size: 12px;
    margin-bottom: 0; 
    /* padding-bottom: 1%; */
}

.message-separator{
    color: #959595;
    font-size: 12px;
    margin-top: 0;
    margin-left: 3px;
    padding-bottom: 1px;
}

.message-created-at{
    color: #959595;
    font-size: 12px;
    margin-top: 0;
    margin-left: 3px;
    padding-bottom: 1px;
}

.message-body{ 
    /* margin-top: 3%;
    margin-bottom: 3%; */
    /* padding: 2%; */
    /* border: 1px solid #D4E7F3; */
    /* background-color: #fff; */
    /* height: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-body .message-body-cont{
    /* margin-bottom: 2%; */
    /* padding-top: 1%; */
    /* padding-bottom: 1%; */
    color: #000000;
    /* height: 5px; */
    font-size: 14px;
}

/* Delete Button */
.msg-delete-button, .reply-delete-button, .msg-edit-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 2px;
}

.msg-delete-button .fa, .reply-delete-button .fa, .msg-edit-button .fas{
    color: #afaeae; 
    font-size: 13px; 
    margin-left: 2px;
}

.msg-delete-button:hover, .reply-delete-button:hover{
    color: #ff0000;
}

.msg-edit-button:hover{
    color: #525151;
}

/* DISPLAY REPLY */
.message-reply-body {
    margin-top: 10px;
    padding: 10px;
    padding-left: 15px;
    background-color: #eeeded;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* REPLY button */
/* .message-reply{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    /* position: relative;  */
    /* top: -20px; 
    /* right: -10px;  
    margin-left: 480px;
} */

.message-reply-btn {
    /* margin-left: 480px; */
    padding: 2px 6px;
    /* background: none;  
    border: none; */
    /* background-color: #c7dfce; */
    /* border: 1px solid #c7dfce; */
    color: #ffffff;
    background-color: #c1c1c1;
    border: 1px solid #b9b9b9; 
    border-radius: 5px;
    /* color:#333; */
    /* text-decoration: underline; 
    text-decoration-color: blue;  */
    cursor: pointer;

    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
}

.message-reply-btn i{
    margin-right: 5px;
}

/* REPLY  INPUT FORM */
.reply-form {
    background-color: #f8f8f8;
    padding: 1%; 
    /* border: 1px solid #cfd5d8;  */
    border-radius: 5px;
    font-size: 14px; 
    color: #000000;
    width: 100%; 
    margin-top: 1%; 
    /* margin-left: -10px; */
}

.reply-input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 1%;
}

.reply-submit-button {
    /* background-color: #4CAF50; */
    background-color: rgb(153, 153, 153);
    color: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 10px;
}

.reply-close-button {
    /* background-color: #f44336; */
    background-color: rgb(237, 89, 89);
    color: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
}

.reply-submit-button:hover{
    background-color:  rgb(116, 115, 115);
}

.reply-close-button:hover {
    background-color:  rgb(234, 57, 57);
}











/* New item ads page */
/* ------------------------------------------------------- */
.productpart69 {
    margin: 0;
    line-height: normal;
      /* fonts */
      --font-helvetica-neue: "Helvetica Neue";
  
      /* font sizes */
      --font-size-sm: 14px;
      --font-size-smi: 13px;
      --font-size-lg: 18px;
      --font-size-mini: 15px;
      --font-size-4xs: 9px;
      --font-size-base: 16px;
      --font-size-9xl: 28px;
      --font-size-3xl: 22px;
      --font-size-xs: 12px;
      --font-size-2xl: 21px;
    
      /* Colors */
      --color-white: #fff;
      --color-limegreen-100: #1acf59;
      --color-limegreen-200: #00b53f;
      --color-limegreen-300: rgba(26, 207, 89, 0.09);
      --color-darkslategray-100: #464b4f;
      --color-darkslategray-200: #28363e;
      --color-gray-100: rgba(0, 0, 0, 0.4);
      --color-lightslategray: #6c8ea0;
      --color-lavender: #dfe1f0;
      --color-aliceblue: #ebf2f7;
      --color-lightsteelblue: #99b2bf;
      --color-whitesmoke-100: #f6f6f6;
    
      /* Gaps */
      --gap-mini: 15px;
      --gap-5xs: 8px;
      --gap-xl: 20px;
    
      /* Paddings */
      --padding-19xl: 38px;
      --padding-xl: 20px;
      --padding-4xs: 9px;
      --padding-3xs: 10px;
      --padding-lg: 18px;
      --padding-5xs: 8px;
      --padding-xs: 12px;
      --padding-9xs: 4px;
      --padding-2xl: 21px;
      --padding-7xs: 6px;
      --padding-smi: 13px;
      --padding-2xs: 11px;
      --padding-12xs: 1px;
      --padding-8xs: 5px;
      
  }
  
  .productpart69
  
  .rectangle {
    position: relative;
    background-color: var(--color-lavender);
    display: none;
  }
  .productpart69
  .rectangle,
  .rectangle1 {
    height: 1px;
    width: 877px;
    max-width: 100%;
  }
  .productpart69
  .frame,
  .frame1,
  .rectangle1,
  .rectangle2 {
    position: relative;
    display: none;
  }
  .productpart69
  .rectangle2 {
    height: 56px;
    width: 56px;
    background-color: var(--color-white);
  }
  .productpart69
  .frame,
  .frame1 {
    height: 15px;
    width: 15px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .productpart69
  .frame1 {
    height: 16px;
    width: 16px;
  }
  .productpart69
  .rectangle3,
  .rectangle4 {
    align-self: stretch;
    position: relative;
    display: none;
  }
  .productpart69
  .rectangle3 {
    height: 1454px;
    box-shadow: 0 7px 14.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
  }
  .productpart69
  .rectangle4 {
    height: 796px;
    border-radius: var(--br-5xs) var(--br-5xs) 0 0;
    background-color: var(--color-aliceblue);
  }
  .productpart69
  .rectangle5 {
    height: 605px;
    width: 917px;
    background-color: var(--color-whitesmoke-100);
    max-width: 100%;
  }
  .productpart69
  .frame2,
  .rectangle5,
  .rectangle6 {
    position: relative;
    display: none;
  }
  .productpart69
  .rectangle6 {
    height: 25px;
    width: 61px;
    border-radius: var(--br-9xs);
    background-color: var(--color-gray-100);
  }
  .productpart69
  .frame2 {
    height: 16px;
    width: 14px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .productpart69
  .item-description {
    position: relative;
    font-size: var(--font-size-smi);
    font-family: var(--font-helvetica-neue);
    color: #f2f2f2;
    text-align: left;
    display: inline-block;
    min-width: 20px;
    z-index: 4;
  }
  .productpart69
  .item-details {
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs) var(--padding-2xs) var(--padding-8xs);
    background-color: var(--color-gray-100);
    width: 61px;
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    z-index: 3;
  }
  .productpart69
  .frame3,
  .frame4 {
    height: 32px;
    width: 15px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .productpart69
  .rectangle-group {
    align-self: stretch;
    height: 605px;
    background-color: var(--color-whitesmoke-100);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 2;
  }
  .productpart69
  .productimg {
    max-width: 100%;
    height: auto;
    
    
    transition: transform 0.3s; /* Transition for hover effect */
  }
  
  
  /* Hover effect for the image */
  .productpart69 .productimg:hover {
    transform: scale(1.1); /* Scale the image when hovering */
  }
  .productpart69
  .image-grid,
  .image-grid1,
  .image-grid2,
  .image-grid3,
  .rectangle7 {
    height: 175px;
    position: relative;
    background-color: var(--color-whitesmoke-100);
    width: 100%; /* Ensure the image fills the parent */
    height: 100%; /* Ensure the image fills the parent */
    object-fit: cover; /* Ensures the image scales to cover without stretching */
    border: 1px solid #dadada; /* Border for visual consistency */
    border-radius: 5px; /* Rounded corners */
  }
  .productpart69
  .image-grid,
  .image-grid1,
  .image-grid2,
  .image-grid3 {
    flex: 1;
    min-width: 171px;
    max-width: 175px;
    z-index: 2;
  }
  .productpart69
  .rectangle7 {
    width: 175px;
    display: none;
    z-index: 0;
  }
  .productpart69
  .item-image {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }
  .productpart69
  .spec-item {
    position: relative;
    line-height: 30px;
    display: inline-block;
    min-width: 18px;
    z-index: 4;
  }
  .productpart69
  .specs-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
  }
  .productpart69
  .spec-item1 {
    flex: 1;
    position: relative;
    font-size: 35px;
    line-height: 35px;
    z-index: 5;
  }
  .productpart69
  .item-specs,
  .specs-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .productpart69
  .specs-area {
    flex: 1;
  }
  .productpart69
  .item-specs {
    align-self: stretch;
    padding: 0 var(--padding-8xs);
  }
  .productpart69
  .images {
    position: relative;
    font-size: var(--font-size-sm);
    display: inline-block;
    min-width: 48px;
    z-index: 5;
  }
  .productpart69
  .image-gallery,
  .item-info,
  .rectangle-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .productpart69
  .item-info {
    flex: 0.2743;
    background-color: var(--color-whitesmoke-100);
    flex-direction: column;
    padding: 59px 63px 61px 64px;
    box-sizing: border-box;
    position: relative;
    min-width: 171px;
    max-width: 175px;
    z-index: 2;
  }
  .productpart69
  .image-gallery,
  .rectangle-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 10.3px;
  }
  .productpart69
  .rectangle-parent {
    border-radius: var(--br-5xs) var(--br-5xs) 0 0;
    background-color: var(--color-aliceblue);
    flex-direction: column;
    padding: 0 0 var(--padding-7xs);
    box-sizing: border-box;
    gap: 10px;
    max-width: 100%;
    z-index: 1;
  }
  .productpart69
  .frame5,
  .frame6,
  .frame7 {
    width: 13px;
    height: 13px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .productpart69
  .frame7 {
    width: 15px;
    height: 12px;
  }
  .productpart69
  .honda-dio-2018 {
    position: relative;
    line-height: 37px;
    z-index: 1;
  }
  .productpart69
  .price-value {
    width: 28px;
    height: 28px;
    position: relative;
    z-index: 1;
  }
  .productpart69
  .price-tag,
  .vehicle-details {
    display: flex;
    align-items: flex-start;
  }
  .productpart69
  .price-tag {
    flex-direction: column;
    justify-content: flex-start;
    padding: 7px 0 0;
  }
  .productpart69
  .vehicle-details {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .productpart69
  .kalutara-matugama,
  .posted-2603 {
    position: relative;
    display: inline-block;
    min-width: 78px;
    z-index: 1;
  }
  .productpart69
  .kalutara-matugama {
    font-size: var(--font-size-smi);
    min-width: 118px;
  }
  .productpart69
  .location-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
  }
  .productpart69
  .views {
    position: relative;
    display: inline-block;
    min-width: 65px;
    z-index: 1;
  }
  .productpart69
  .contact-details,
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .productpart69
  .contact-details {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .productpart69
  .contact-info {
    width: 860px;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--color-lightsteelblue);
  }
  .productpart69
  .summary-pair {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-aliceblue);
    z-index: 1;
  }
  .productpart69
  .summary-pair1 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .productpart69
  .honda,
  .make {
    position: relative;
    line-height: 18px;
    display: inline-block;
    min-width: 42px;
    z-index: 3;
  }
  .productpart69
  .make {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: var(--color-lightslategray);
    min-width: 28px;
  }
  .productpart69
  .specs-pair {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .productpart69
  .dio,
  .model {
    position: relative;
    line-height: 18px;
    display: inline-block;
    min-width: 22px;
    z-index: 3;
  }
  .productpart69
  .model {
    font-size: var(--font-size-4xs);
    line-height: 12px;
    text-transform: uppercase;
    color: var(--color-lightslategray);
    min-width: 35px;
  }
  .productpart69
  .specs-pair1,
  .vehicle-specs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .productpart69
  .vehicle-specs {
    width: 473px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .productpart69
  .payment-pair,
  .summary-grid {
    align-self: stretch;
    position: relative;
  }
  .productpart69
  .summary-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs) var(--padding-2xl) 0;
    box-sizing: border-box;
    gap: 17px;
    max-width: 100%;
  }
  .productpart69
  .payment-pair {
    height: 1px;
    background-color: var(--color-lavender);
    z-index: 3;
  }
  .productpart69
  .payment-pair1 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    right: 0;
    bottom: 0;
    z-index: 4;
  }
  .productpart69
  .honda-dio-2019 {
    width: 470px;
    position: relative;
    line-height: 21px;
    display: inline-block;
    max-width: 100%;
    z-index: 5;
  }
  .productpart69
  .payment-options {
    padding: 0 var(--padding-12xs) 197px 0;
    box-sizing: border-box;
    position: relative;
    gap: 23px;
    margin-top: -1px;
    color: var(--color-darkslategray-100);
  }
  .productpart69
  .payment-options,
  .specs-summary {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .productpart69
  .frame8,
  .rectangle8 {
    position: relative;
    display: none;
  }
  .productpart69
  .rectangle8 {
    height: 40px;
    width: 240px;
    border-radius: var(--br-5xs);
    background-color: var(--color-limegreen-200);
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
  }
  .productpart69
  .frame8 {
    height: 20px;
    width: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .productpart69
  .show-contact {
    flex: 1;
    position: relative;
    font-size: var(--font-size-mini);
    font-family: var(--font-helvetica-neue);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 96px;
    z-index: 3;
  }
  .productpart69
  .contact-seller {
    cursor: pointer;
    border-radius:2px;
    border: 1px solid #096d2c;
    padding: var(--padding-4xs) 71px;
    background-color: #096d2c;
    width: 260px;
    color: var(--color-white);
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .productpart69
  .additional-details,
  .price-info {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .productpart69
  .additional-details {
    align-items: flex-start;
    gap: var(--gap-mini);
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray-200);
  }
  .productpart69
  .price-info {
    align-items: flex-end;
    gap: 26.5px;
  }
  .productpart69
  .offer-grid,
  .offer-grid1 {
    position: absolute;
    top: 22px;
    left: 318.5px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
    width: 240px;
    height: 40px;
    z-index: 1;
  }
  .productpart69
  .offer-grid1 {
    left: 623.5px;
  }
  .productpart69
  .offer-grid2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-lavender);
    width: 877px;
    height: 1px;
    z-index: 3;
  }
  .productpart69
  .offer-grid3 {
    position: absolute;
    top: 1px;
    left: 0.5px;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  .productpart69
  .rectangle9 {
    height: 40px;
    width: 240px;
    position: relative;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
    display: none;
  }
  .productpart69
  .make-an-offer {
    width: 108px;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 14px;
    font-family: var(--font-helvetica-neue);
    color: var(--color-limegreen-200);
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    min-width: 108px;
    z-index: 6;
  }
  .productpart69
  .make-offer-button {
    cursor: pointer;
    border: 1px solid var(--color-limegreen-200);
    padding: var(--padding-2xs) 57px;
    background-color: transparent;
    width: 240px;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 5;
  }
  .productpart69
  .admin-actions:hover,
  
  .make-offer-button:hover,
  .promo-area:hover {
    background-color: var(--color-limegreen-300);
    border: 1px solid var(--color-limegreen-100);
    box-sizing: border-box;
  }
  .productpart69
  .make-an-offer1 {
    width: 108px;
    position: relative;
    line-height: 14px;
    display: inline-block;
    min-width: 108px;
    z-index: 2;
  }
  .productpart69
  .offer-pair {
    width: 183px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .productpart69
  .make-an-offer2 {
    align-self: stretch;
    position: relative;
    line-height: 14px;
    display: inline-block;
    min-width: 108px;
    z-index: 2;
  }
  .productpart69
  .offer-buttons,
  .offer-pair1 {
    display: flex;
    align-items: flex-start;
  }
  .productpart69
  .offer-pair1 {
    width: 108px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .productpart69
  .offer-buttons {
    position: absolute;
    top: 22px;
    left: 13.5px;
    width: 775px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .productpart69
  .offer-grid-parent {
    align-self: stretch;
    height: 72px;
    position: relative;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-limegreen-200);
  }
  .productpart69
  .action-area {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .productpart69
  .action-area,
  .action-area-wrapper,
  .root-chakra,
  .root-chakra-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .productpart69
  .action-area-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 19.5px;
    box-sizing: border-box;
    font-size: 26px;
    color: var(--color-darkslategray-100);
  }
  .productpart69
  .root-chakra,
  .root-chakra-wrapper {
    flex-direction: column;
  }
  .productpart69
  .root-chakra {
    align-self: stretch;
    box-shadow: 0 7px 14.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    gap: 24px;
  }
  .productpart69
  .root-chakra-wrapper {
    width: 917px;
    padding: var(--padding-7xs) 0 0;
    box-sizing: border-box;
    min-width: 917px;
    text-align: left;
    font-size: 30px;
    color: var(--color-white);
    font-family: var(--font-helvetica-neue);
  }
  .productpart69
  .rectangle10 {
    width: 340px;
    height: 116px;
    position: relative;
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    display: none;
    max-width: 100%;
  }
  .productpart69
  .price-symbol,
  .rs {
    position: relative;
    line-height: 28px;
    display: inline-block;
  }
  .productpart69
  .rs {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    min-width: 34px;
    z-index: 1;
  }
  .productpart69
  .price-symbol {
    min-width: 109px;
    z-index: 2;
  }
  .productpart69
  .rs-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .productpart69
  .rectangle11 {
    height: 38px;
    width: 300px;
    position: relative;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
    display: none;
  }
  .productpart69
  .request-call-back {
    width: 116px;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 14px;
    font-family: var(--font-helvetica-neue);
    color: var(--color-limegreen-200);
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    min-width: 116px;
    z-index: 2;
  }
  .productpart69
  .call-back-option {
    /* cursor: pointer; */
    /* border: 1px solid var(--color-limegreen-200); */
    padding: var(--padding-3xs) 88px;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
  }
  .productpart69
  .contact-area,
  .rectangle12 {
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    max-width: 100%;
  }
  .productpart69
  .contact-area {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px var(--padding-xl) var(--padding-2xl);
    box-sizing: border-box;
    gap: 12px;
  }
  .productpart69
  .rectangle12 {
    width: 340px;
    height: 192px;
    display: none;
  }
  .productpart69
  .group,
  .rectangle12,
  .sudu {
    position: relative;
  }
  .productpart69
  .group {
    width: 56px;
    height: 56px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .productpart69
  .sudu {
    line-height: 24px;
    display: inline-block;
    min-width: 39px;
    z-index: 1;
  }
  .productpart69
  .seller-name-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 72px;
  }
  .productpart69
  .profile-picture {
    margin: 0 !important;
    height: 65px;
    width: 65px;
    position: absolute;
  
    bottom: 8px;
    /* left: 41px; */
    border: 3px solid var(--color-white);
    box-sizing: border-box;
    z-index: 2;
  }
  .productpart69
  .action-button-icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-9xs);
    width: 43px;
    height: 15px;
    z-index: 1;
  }
  .productpart69
  .view-seller {
    position: absolute;
    top: 1px;
    left: 0;
    line-height: 12px;
    display: inline-block;
    width: 51px;
    z-index: 3;
  }
  .productpart69
  .action-button {
    height: 15px;
    width: 51px;
    position: relative;
    flex-shrink: 0;
    
  }
  .productpart69
  .action-button-icon1,
  .frame9 {
    position: absolute;
    top: 0;
    left: -2px;
  }
  .productpart69
  .action-button-icon1 {
    border-radius: var(--br-9xs);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .productpart69
  .frame9 {
    width: 15px;
    height: 15px;
    overflow: hidden;
    display: none;
    z-index: 2;
  }
  .productpart69
  .action-button1 {
    height: 15px;
    flex: 1;
    position: relative;
    flex-shrink: 0;
   
  }
  .productpart69
  .action-grid {
    width: 113px;
    justify-content: flex-start;
  }
  .productpart69
  .action-grid,
  .profile-actions,
  .seller-profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .productpart69
  .profile-actions {
    flex: 1;
    justify-content: flex-end;
    padding: 0 0 var(--padding-2xl);
  }
  .productpart69
  .seller-profile {
    width: 185px;
    justify-content: flex-start;
    position: relative;
    font-size: var(--font-size-4xs);
    color: var(--color-lightslategray);
  }
  .productpart69
  .rectangle13 {
    height: 40px;
    width: 300px;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-limegreen-200);
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
    display: none;
  }
  .productpart69
  .frame10,
  .show-contact1 {
    position: relative;
    flex-shrink: 0;
  }
  .productpart69
  .frame10 {
    height: 20px;
    width: 20px;
    overflow: hidden;
    display: none;
  }
  .productpart69
  .show-contact1 {
    width: 96px;
    font-size: var(--font-size-mini);
    font-family: var(--font-helvetica-neue);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 96px;
    z-index: 3;
  }
  .productpart69
  .contact-button-area,
  .seller-contact-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .productpart69
  .contact-button-area {
    cursor: pointer;
    border: 1px solid var(--color-limegreen-200);
    padding: var(--padding-4xs) var(--padding-xl);
    background-color: #096d2c;
    flex: 1;
    border-radius: var(--br-5xs);
    justify-content: center;
    color: var(--color-white);
    z-index: 1;
  }
  .productpart69
  .seller-contact-button {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 var(--padding-9xs);
  }
  .productpart69
  .rectangle14 {
    height: 40px;
    width: 300px;
    position: relative;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
    display: none;
  }
  .productpart69
  .frame11,
  .start-chat {
    position: relative;
    flex-shrink: 0;
  }
  .productpart69
  .frame11 {
    height: 20px;
    width: 20px;
    overflow: hidden;
    display: none;
  }
  .productpart69
  .start-chat {
    width: 68px;
    font-size: var(--font-size-mini);
    font-family: var(--font-helvetica-neue);
    color: var(--color-limegreen-200);
    text-align: center;
    display: inline-block;
    min-width: 68px;
    z-index: 3;
  }
  .productpart69
  .chat-button {
    cursor: pointer;
    border: 1px solid var(--color-limegreen-200);
    padding: var(--padding-4xs) var(--padding-xl);
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
  }
  .productpart69
  .seller-details,
  .seller-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .productpart69
  .seller-details {
    flex: 1;
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    flex-direction: column;
    padding: 16px var(--padding-xl) var(--padding-xl);
    gap: 4px;
  }
  .productpart69
  .seller-info {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 3px;
    font-size: var(--font-size-base);
  }
  .productpart69
  .rectangle15,
  .rectangle16 {
    position: relative;
    border-radius: var(--br-5xs);
    display: none;
  }
  .productpart69
  .rectangle15 {
    height: 60px;
    width: 340px;
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    background-color: var(--color-white);
    max-width: 100%;
  }
  .productpart69
  .rectangle16 {
    height: 40px;
    width: 156px;
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
  }
  .productpart69
  .mark-unavailable {
    flex: 1;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 14px;
    font-family: var(--font-helvetica-neue);
    color: var(--color-limegreen-200);
    text-align: center;
    display: inline-block;
    min-width: 110px;
    z-index: 2;
  }
  .productpart69
  .admin-actions {
    cursor: pointer;
    border: 1px solid var(--color-limegreen-200);
    padding: var(--padding-3xs) 22px var(--padding-xs);
    background-color: transparent;
    flex: 1;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 101px;
    white-space: nowrap;
    z-index: 1;
  }
  .productpart69
  .frame12,
  .rectangle17 {
    position: relative;
    display: none;
  }
  .productpart69
  .rectangle17 {
    height: 40px;
    width: 156px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
  }
  .productpart69
  .frame12 {
    height: 13px;
    width: 13px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .productpart69
  .report-abuse {
    flex: 1;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 14px;
    font-family: var(--font-helvetica-neue);
    color: var(--color-limegreen-200);
    text-align: center;
    display: inline-block;
    min-width: 89px;
    z-index: 3;
  }
  .productpart69
  .admin-actions1 {
    cursor: pointer;
    border: 1px solid var(--color-limegreen-200);
    padding: var(--padding-3xs) 32px var(--padding-xs) 33px;
    background-color: transparent;
    flex: 0.8091;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 101px;
    z-index: 1;
  }
  .productpart69
  .admin-options,
  .rectangle18 {
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    max-width: 100%;
  }
  .productpart69
  .admin-options {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .productpart69
  .rectangle18 {
    width: 340px;
    height: 193px;
    position: relative;
    display: none;
  }
  .productpart69
  .safety-tips {
    width: 94px;
    position: relative;
    letter-spacing: 0.3px;
    display: inline-block;
    flex-shrink: 0;
    min-width: 94px;
    z-index: 1;
  }
  .productpart69
  .safety-title {
    width: 264px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-lg);
    color: #252525;
  }
  .productpart69
  .avoid-sending-any,
  .meet-with-the {
    width: 200px;
    position: relative;
    line-height: 21px;
    display: inline-block;
    z-index: 1;
  }
  .productpart69
  .meet-with-the {
    width: 259px;
    z-index: 2;
  }
  .productpart69
  .check-all-the,
  .inspect-what-youre {
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 21px;
  }
  .productpart69
  .inspect-what-youre {
    align-self: stretch;
    z-index: 1;
  }
  .productpart69
  .check-all-the {
    width: 273px;
    display: inline-block;
    z-index: 2;
  }
  .productpart69
  .safety-info {
    align-self: stretch;
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-xl) var(--padding-lg) 41px;
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-smi);
    color: var(--color-darkslategray-100);
  }
  .productpart69
  .rectangle19,
  .rectangle20 {
    position: relative;
    border-radius: var(--br-5xs);
    display: none;
  }
  .productpart69
  .rectangle19 {
    height: 80px;
    width: 340px;
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    background-color: var(--color-white);
    max-width: 100%;
  }
  .productpart69
  .rectangle20 {
    height: 40px;
    width: 300px;
    border: 1px solid var(--color-limegreen-200);
    box-sizing: border-box;
  }
  .productpart69
  .post-ad-like {
    width: 113px;
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-helvetica-neue);
    color: var(--color-limegreen-200);
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
    min-width: 113px;
    z-index: 2;
  }
  .productpart69
  .promo-area {
    cursor: pointer;
    border: 1px solid var(--color-limegreen-200);
    padding: var(--padding-4xs) var(--padding-xl) var(--padding-3xs);
    background-color: transparent;
    flex: 1;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
  }
  .productpart69
  .contact-options,
  .desktop,
  .rectangle-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .productpart69
  .rectangle-container {
    align-self: stretch;
    box-shadow: 0 2px 8.8px rgba(2, 7, 1, 0.04);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    flex-direction: row;
    padding: var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .productpart69
  .contact-options,
  .desktop {
    gap: var(--gap-mini);
  }
  .productpart69
  .contact-options {
    width: 340px;
    flex-direction: column;
    min-width: 340px;
    max-width: 100%;
  }
  .productpart69
  .desktop {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: row;
    padding: 118px 77px 3089px;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--color-darkslategray-200);
    font-family: var(--font-helvetica-neue);
  }
  @media screen and (max-width: 1350px) {
    .productpart69.contact-options,
    .productpart69.root-chakra-wrapper {
      flex: 1;
    }
    .productpart69.desktop {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1150px) {
    .productpart69 .image-gallery {
      flex-wrap: wrap;
    }
    .productpart69.root-chakra-wrapper {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .productpart69.spec-item {
      font-size: 24px;
      line-height: 24px;
    }
    .productpart69.spec-item1 {
      font-size: var(--font-size-9xl);
      line-height: 28px;
    }
    .productpart69.offer-buttons {
      flex-wrap: wrap;
    }
    .productpart69.offer-grid-parent {
      height: auto;
      min-height: 72;
    }
    .productpart69.contact-options {
      min-width: 100%;
    }
    .productpart69.desktop {
      padding-left: var(--padding-19xl);
      padding-right: var(--padding-19xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .productpart69.spec-item {
      font-size: var(--font-size-lg);
      line-height: 18px;
    }
    .productpart69.spec-item1 {
      font-size: var(--font-size-2xl);
      line-height: 21px;
    }
    .productpart69.item-info {
      flex: 1;
    }
    .productpart69.honda-dio-2018 {
      font-size: var(--font-size-2xl);
      line-height: 29px;
    }
    .productpart69.contact-details,
    .productpart69.vehicle-specs {
      flex-wrap: wrap;
    }
    .productpart69.price-symbol,
    .productpart69.rs {
      font-size: var(--font-size-3xl);
      line-height: 22px;
    }
    .productpart69.call-back-option {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      /* box-sizing: border-box; */
    }
    .productpart69 .admin-actions1 {
      flex: 1;
    }
  
  }
  
  
  
  
  
  
  
  /* Message */
  /* ------------------------- */
  
  
  
  .messagepart69 {
    margin: 0;
    line-height: normal;
        /* fonts */
    --font-roboto: Roboto;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-white: #fff;
    --color-whitesmoke: #eff0f5;
    --color-gainsboro: #dadada;
    --color-gray-100: #fafafa;
    --color-gray-200: #757575;
    --color-gray-300: #212121;
    --color-cadetblue: #1a9cb7;
    --color-teal: #16849b;
    --color-darkgray: #9e9e9e;
    --color-black: #000;
  
    /* Gaps */
    --gap-9xs: 4px;
    --gap-5xl: 24px;
    --gap-10xs: 3px;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-5xl: 24px;
    --padding-12xs: 1px;
    --padding-5xs: 8px;
    --padding-xl: 20px;
    --padding-base: 16px;
    --padding-11xs: 2px;
    --padding-xs: 12px;
  
    --br-xs:12px;
    --br-11xs: px;
   
  
  
  
  
  }
  .messagepart69
  
  
  
  
  
  .rectangle,
  .rectangle1 {
  align-self: stretch;
  position: relative;
  display: none;
  }
  .messagepart69
  .rectangle {
  height: 614px;
  background-color: var(--color-white);
  }
  .messagepart69
  .rectangle1 {
  width: 988px;
  background-color: var(--color-gray-100);
  max-width: 100%;
  }
  .messagepart69
  .questions-about-this {
  position: relative;
  line-height: 52px;
  z-index: 2;
  }
  .messagepart69
  .rectangle-group365 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  }
  .messagepart69
  .rectangle2 {
  width: 988px;
  height: 562px;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  }
  .messagepart69
  .login,
  .or,
  .rectangle2 {
  position: relative;
  }
  .messagepart69
  .login {
  line-height: 17px;
  display: inline-block;
  min-width: 35px;
  white-space: nowrap;
  z-index: 2;
  }
  .messagepart69
  .or {
  align-self: stretch;
  line-height: 14px;
  z-index: 3;
  }
  .messagepart69
  .or-wrapper {
  width: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  }
  .messagepart69
  .register,
  .to-ask-questions {
  position: relative;
  white-space: nowrap;
  }
  .messagepart69
  .register {
  line-height: 17px;
  display: inline-block;
  min-width: 53px;
  z-index: 4;
  }
  .messagepart69
  .to-ask-questions {
  line-height: 14px;
  z-index: 5;
  }
  .messagepart69
  .login-parent,
  .to-ask-questions-to-seller-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  }
  .messagepart69
  .to-ask-questions-to-seller-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  }
  .messagepart69
  .login-parent {
  flex-direction: row;
  }
  .messagepart69
  .div,
  .other-questions-answered {
  position: relative;
  line-height: 18px;
  white-space: nowrap;
  }
  .messagepart69
  .other-questions-answered {
  flex: 1;
  z-index: 4;
  }
  .messagepart69
  .div {
  font-size: 15px;
  display: inline-block;
  min-width: 30px;
  z-index: 5;
  }
  .messagepart69
  .other-questions-answered-by-gl-parent {
  width: 335px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  }
  .messagepart69
  .rectangle3 {
  width: 100%;
  height: 26px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  }
  .messagepart69
  .rectangle4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-whitesmoke);
  z-index: 2;
  }
  .messagepart69
  .frame-group,
  .frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  }
  .messagepart69
  .frame-group {
  position: relative;
  gap: 7.9px;
  color: var(--color-gray-300);
  }
  .messagepart69
  .frame-parent {
  gap: 15px;
  color: var(--color-cadetblue);
  }
  .messagepart69
  .group-icon {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 4;
  }
  .messagepart69
  .chavindu-s-,
  .meke-stokes-iwarada {
  position: relative;
  line-height: 17px;
  z-index: 4;
  }
  .messagepart69
  .chavindu-s- {
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--color-darkgray);
  }
  .messagepart69
  .group-parent,
  .meke-stokes-iwarada-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  }
  .messagepart69
  .group-parent {
  flex-direction: row;
  gap: var(--gap-5xl);
  }
  .messagepart69
  .group-icon1,
  .na-sir {
  position: relative;
  z-index: 4;
  }
  .messagepart69
  .group-icon1 {
  height: 24px;
  width: 24px;
  }
  .messagepart69
  .na-sir {
  line-height: 17px;
  display: inline-block;
  min-width: 39px;
  }
  .messagepart69
  .global-creations- {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--color-darkgray);
  z-index: 4;
  }
  .messagepart69
  .na-sir-parent {
  flex-direction: column;
  gap: var(--gap-10xs);
  }
  .messagepart69
  .frame-div,
  .group-group,
  .na-sir-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  }
  .messagepart69
  .group-group {
  flex-direction: row;
  gap: var(--gap-5xl);
  }
  .messagepart69
  .frame-div {
  flex-direction: column;
  gap: 26px;
  }
  .messagepart69
  .rectangle5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  }
  .messagepart69
  .frame-container,
  .rectangle6 {
  align-self: stretch;
  position: relative;
  }
  .messagepart69
  .rectangle6 {
  height: 1px;
  background-color: var(--color-whitesmoke);
  z-index: 2;
  }
  .messagepart69
  .frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26.7px;
  }
  .messagepart69
  .group-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 4;
  }
  .messagepart69
  .meke-blue-light,
  .sameera-r- {
  position: relative;
  line-height: 17px;
  z-index: 4;
  }
  .messagepart69
  .sameera-r- {
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--color-darkgray);
  }
  .messagepart69
  .group-container,
  .meke-blue-light-filter-eka-gan-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  }
  .messagepart69
  .group-container {
  flex-direction: row;
  gap: var(--gap-5xl);
  }
  .messagepart69
  .rectangle7 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  }
  .messagepart69
  .group-icon3 {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 4;
  }
  .messagepart69
  .group-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  }
  .messagepart69
  .global-creations-1,
  .sir-store-ekta {
  position: relative;
  line-height: 17px;
  z-index: 4;
  }
  .messagepart69
  .global-creations-1 {
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--color-darkgray);
  }
  .messagepart69
  .frame-parent2,
  .sir-store-ekta-msg-ekk-send-kr-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  }
  .messagepart69
  .frame-parent2 {
  flex-direction: row;
  gap: var(--gap-5xl);
  }
  .messagepart69
  .frame-parent1,
  .rectangle8 {
  align-self: stretch;
  position: relative;
  }
  .messagepart69
  .rectangle8 {
  height: 1px;
  background-color: var(--color-whitesmoke);
  z-index: 2;
  }
  .messagepart69
  .frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25.7px;
  }
  .messagepart69
  .group-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 2;
  }
  .messagepart69
  .mama-ada-oder,
  .sameera-3 {
  position: relative;
  line-height: 17px;
  z-index: 2;
  }
  .messagepart69
  .sameera-3 {
  width: 140px;
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--color-darkgray);
  display: inline-block;
  }
  .messagepart69
  .group-parent1,
  .mama-ada-oder-kaloth-april-5ta-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  }
  .messagepart69
  .mama-ada-oder-kaloth-april-5ta-parent {
  flex-direction: column;
  gap: var(--gap-9xs);
  max-width: calc(100% - 48px);
  }
  .messagepart69
  .group-parent1 {
  flex-direction: row;
  gap: var(--gap-5xl);
  max-width: 100%;
  }
  .messagepart69
  .group-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 2;
  }
  .messagepart69
  .global-creations-2,
  .normally-3-working {
  position: relative;
  line-height: 17px;
  z-index: 2;
  }
  .messagepart69
  .global-creations-2 {
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--color-darkgray);
  }
  .messagepart69
  .normally-3-working-days-sir-parent {
  flex-direction: column;
  gap: var(--gap-10xs);
  }
  .messagepart69
  .frame-parent3,
  .frame-wrapper,
  .group-parent2,
  .normally-3-working-days-sir-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  }
  .messagepart69
  .group-parent2 {
  flex-direction: row;
  gap: var(--gap-5xl);
  }
  .messagepart69
  .frame-parent3,
  .frame-wrapper {
  max-width: 100%;
  }
  .messagepart69
  .frame-parent3 {
  flex-direction: column;
  gap: 25px;
  }
  .messagepart69
  .frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  }
  .messagepart69
  .rectangle9 {
  width: 28px;
  height: 39px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  z-index: 2;
  }
  .messagepart69
  .rectangle-wrapper {
  width: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  }
  .messagepart69
  .rectangle10 {
  height: 40px;
  width: 29px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-teal);
  box-sizing: border-box;
  display: none;
  }
  .messagepart69
  .div1 {
  position: relative;
  line-height: 38px;
  display: inline-block;
  min-width: 7px;
  z-index: 3;
  }
  .messagepart69
  .rectangle-parent1 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-teal);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  z-index: 2;
  color: var(--color-white);
  }
  .messagepart69
  .rectangle11 {
  height: 40px;
  width: 29px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
  }
  .messagepart69
  .div2 {
  position: relative;
  line-height: 38px;
  display: inline-block;
  min-width: 7px;
  z-index: 3;
  }
  .messagepart69
  .rectangle-parent2,
  .rectangle12 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  }
  .messagepart69
  .rectangle-parent2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  z-index: 2;
  }
  .messagepart69
  .rectangle12 {
  height: 40px;
  width: 29px;
  position: relative;
  box-sizing: border-box;
  display: none;
  }
  .messagepart69
  .div3 {
  position: relative;
  line-height: 38px;
  display: inline-block;
  min-width: 7px;
  z-index: 3;
  }
  .messagepart69
  .rectangle-parent3,
  .rectangle13 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  }
  .messagepart69
  .rectangle-parent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  z-index: 2;
  }
  .messagepart69
  .rectangle13 {
  height: 40px;
  width: 29px;
  position: relative;
  box-sizing: border-box;
  display: none;
  }
  .messagepart69
  .div4 {
  position: relative;
  line-height: 38px;
  display: inline-block;
  min-width: 7px;
  z-index: 3;
  }
  .messagepart69
  .rectangle-parent4 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  z-index: 2;
  }
  .messagepart69
  .div5 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 12px;
  z-index: 2;
  }
  .messagepart69
  .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-cadetblue);
  }
  .messagepart69
  .rectangle14 {
  height: 40px;
  width: 36px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
  }
  .messagepart69
  .div6 {
  position: relative;
  line-height: 38px;
  display: inline-block;
  min-width: 14px;
  z-index: 3;
  }
  .messagepart69
  .rectangle-parent5 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  z-index: 2;
  }
  .messagepart69
  .rectangle-frame,
  .rectangle15 {
  width: 28px;
  box-sizing: border-box;
  }
  .messagepart69
  .rectangle15 {
  height: 39px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  z-index: 2;
  }
  .messagepart69
  .rectangle-frame {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  }
  .messagepart69
  .frame-parent4,
  .rectangle-container,
  .rectangle-frame {
  display: flex;
  justify-content: flex-start;
  }
  .messagepart69
  .frame-parent4 {
  width: 248px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
  }
  .messagepart69
  .rectangle-container {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-3xs) var(--padding-5xl) 18px;
  box-sizing: border-box;
  gap: 24.5px;
  max-width: 100%;
  z-index: 1;
  color: var(--color-black);
  }
  .messagepart69
  .macbook-pro-16-1,
  .rectangle-parent {
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  }
  .messagepart69
  .rectangle-parent {
  width: 988px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  }
  .messagepart69
  .macbook-pro-16-1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 241px 20px 262px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media screen and (max-width: 950px) {
    .messagepart69 .login-parent {
    display: none;
  }
  }
  @media screen and (max-width: 700px) {
    .messagepart69 .to-ask-questions,
    .messagepart69 .to-ask-questions-to-seller-wrapper {
    display: none;
  }
  }
  @media screen and (max-width: 450px) {
    .messagepart69 .other-questions-answered-by-gl-parent {
    display: none;
  }
  }
  
  
  
  
  
  
  
  
  
  /* productslider */
  /* ------------------ */
  
  /* Single Product*/
  
  #prodetails {
    display: flex;
    margin-top: 20px;
  }
  #prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
  }
  
  #prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
  }
  
  #prodetails .single-pro-details h2 {
    font-size: 20px;
  }
  #prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  
  #prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  #prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
  }
  
  #prodetails .single-pro-details input:focus {
    outline: none;
  }
  
  #prodetails .single-pro-details span {
    line-height: 25px;
  }
  
  #prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
  }
  
  .small-img-group {
    display: flex;
    justify-content: space-between;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }

/* General styles for 'Make an offer' buttons */
.make-offer-button {
    background-color: var(--color-gainsboro); /* Example background color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding for space */
    text-align: center;
    cursor: pointer; /* Cursor change on hover */
  }
  
  /* Specific styles for the first button */
  .button1 {
    background-color: var(--color-cadetblue); /* Unique color for first button */
    border: 1px solid var(--color-darkgray); /* Border styling */
  }
  
  /* Specific styles for the second button */
  .button2 {
    background-color: var(--color-teal); /* Unique color for second button */
    border: 1px solid var(--color-gray-300); /* Border styling */
  }
  
  /* Specific styles for the third button */
  .button3 {
    background-color: var(--color-gainsboro); /* Unique color for third button */
    border: 1px solid var(--color-gray-200); /* Border styling */
  }
  


  