/* OFFERS */

.offer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.offer-title{
    margin-left: 20px;
}

.offer-details {
    border: 1px solid #ccc;
    /* background-color: #f3eded; */
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.offer-message {
    font-weight: bold;
    margin-bottom: 10px;
}

.offer-details .offer-buttons {
    display: flex;
    gap: 10px;
}

.accept-offer, .reject-offer {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.reject-offer {
    background-color: #f44336;
    margin-left: 5px;
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
    .offer-details {
        width: 100%;
    }
}

/* BIDS */

/*
.bid-info {
    text-align: center;
    margin-bottom: 20px;
}

.bid-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.bid-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bid-list-item {
    margin-bottom: 10px;
}
*/
.bid-info {
    /* background-color: rgb(125, 183, 127);
    color: white; */
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.bid-info h3 {
    margin: 0;
    margin-bottom: 10px;
}

.bid-info p {
    margin: 5px 0;
}

.bid-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.bid-list {
    list-style-type: none;
    width: 100%;
    font-family: Arial, sans-serif;
}

.bid-list-item {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bid-list-item:nth-child(even) {
    background-color: #8BC34A; /* Lighter green */
}
