/* OFFERS */

.offer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.offer-details {
    border: 1px solid #ccc;
    /* background-color: #f3eded; */
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.offer-message {
    font-weight: bold;
    margin-bottom: 10px;
}

.accept-offer, .reject-offer {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.reject-offer {
    background-color: #f44336;
    margin-left: 5px;
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
    .offer-details {
        width: 100%;
    }
}

/* BIDS */

.bid-info {
    text-align: center;
    margin-bottom: 20px;
}

.bid-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.bid-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bid-list-item {
    margin-bottom: 10px;
}
