/* OFFERS */
.Offers-Bids {
    margin-top: -40px;
}

/* .offer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
} */

.offer-title{
    margin-left: 20px;
}

.offer-details {
    border-bottom: 1px solid #e8e7e7; 
    border-top: 1px solid #e8e7e7; 
    background-color: #ffffffb6; 
    border-radius: 8px;
    margin-bottom: 10px;
    /* padding-top: 5px; */
    padding-right: 2px;
    padding-left: 5px;
    width: 250px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.offer-message {
    font-weight: bold;
    font-size: 12px;
    /* margin-bottom: 4px; */
    margin-top: 10px;
}

.offer-details .offer-buttons {
    display: flex;
    gap: 1px;
    margin-left: 7px;
    /* margin-bottom: 4px; */
}

.accept-offer, .reject-offer {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 3px 12px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.reject-offer {
    background-color: #f44336;
    /* margin-left: 5px; */
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
    .offer-details {
        width: 100%;
    }
}

/* BIDS */

/*
.bid-info {
    text-align: center;
    margin-bottom: 20px;
}

.bid-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.bid-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bid-list-item {
    margin-bottom: 10px;
}
*/

/* .bid-info {
    /* background-color: rgb(125, 183, 127);
    color: white; */
    /* padding: 20px; 
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.bid-info h3 {
    margin: 0;
    margin-bottom: 10px;
}

.bid-info p {
    margin: 5px 0;
}

.bid-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
} */

/* Bidding Overview */
.bid-info {
    /* padding: 20px; */
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* .offer-title h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
} */

#timeRemaining, #numBids {
    font-weight: bold;
    color: #1a3b1b;
}

.bid-stats p {
    margin: 10px 0;
}

#reopenBidding {
    background-color: #969494;
    color: white;
    border: none;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#reopenBidding:hover {
    background-color: #7a7a7a;
    transition: 0.3s;
    transform: scale(1.1);
}

/* List of Bids */
.bid-list {
    list-style-type: none;
    width: 100%;
    font-family: Arial, sans-serif;
}

.bid-list-item {
    display: flex;
    align-items: center;
    /* background-color: #4CAF50;  */
    background-color: #7fad7a;
    color: white;
    padding: 10px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bid-list-item:nth-child(even) {
    /* background-color: #8BC34A;  */
    background-color:  #86bb6b;
}

.bid-list-item .fas {
    margin-left: 5px;
    margin-right: 8px;
    color: #0c370e;
    cursor: pointer;
}

.bid-list-item .fa-envelope:hover {
    /* color: #9a9a9abf; */
    /* color: #000000; */
    color: #dc3545;
    transition: 0.3s;
    transform: scale(1.2) rotate(8deg);
}

.bid-list-item .fa-trash:hover {
    color: #dc3545;
    transition: 0.3s;
    transform: scale(1.2) rotate(8deg);
}
