
.login-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero2 {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../img/login/banner1.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 380px;
    position: absolute;
    top: 45%; 
    left: 53%;
    transform: translate(-60%, -60%);
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease; 
}

@keyframes slideIn {
    0% {
        top: 50%; /* Initial position */
        opacity: 0;
    }
    100% {
        top: 45%; /* Final position */
        opacity: 1;
    }
}

.input-group2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
}

.input-field {
    width: 80%; 
    padding: 10px 10px; 
    margin: 30px; 
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    transform: translateY(-50%);
    transition: 0.5s;
    outline: none;
    background: transparent;
}

.input-field:focus {
    border-bottom: 1px solid #219657b5;
}

.input-label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    top: 0;
    font-size: 12px;
    color: #219657b5;
}

.submit-btn:hover {
    background: linear-gradient(to right, #09562db4, #37db84b5);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.submit-btn {
    width: 85%;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
    margin: 25px 15px 20px 29px;
    background: linear-gradient(to right, #0f6e3db5, #1d9e5eb4);
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.check-box {
    margin: 30px 10px 30px 0;
}

/* span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
} */

#login {
    left: 50px;
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 12px;
    padding: 10px;
    transition: all 0.3s ease;
} */

.terms {
    margin-top: 10px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .form-box2 {
        width: 90%;
    }
}
