
    .thumbnail .item .content {
        position: absolute;
        inset: auto 10px 10px 10px;
    }


    @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: 'Poppins', sans-serif; */
        /* 当用户手动导航或者 CSSOM scrolling API 触发滚动操作时 */
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
        overflow-x: hidden;
        background: linear-gradient(#ffffff, #ffffff);
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;
    }

    header .logo {
        color: #359381;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        /* 大写 */
        letter-spacing: 2px;
    }

    header ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

    }

    header ul li {
        list-style: none;
        margin-left: 20px;
    }

    header ul li a {
        text-decoration: none;
        padding: 6px 15px;
        color: #fff;
        border-radius: 20px;

    }

    header ul li a:hover,
    header ul li a.active {
        background: #359381;
        color: #fff;
    }

    /* section {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    } */
    .parallax {
        position: relative;

        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    /* section::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #1c0522, transparent);
        z-index: 1000;
    } */

    .parallax img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* object-fit CSS 属性指定可替换元素（例如：<img> 或 <video>）的内容应该如何适应到其使用高度和宽度确定的框。 */
        object-fit: cover;
        pointer-events: none;
    }

    section img#moon {
        /* mix-blend-mode CSS 属性描述了元素的内容应该与元素的直系父元素的内容和元素的背景如何混合。 */
        mix-blend-mode: screen;
    }

    section img#mountains_front {
        z-index: 10;
    }

    #text {
        position: fixed;
        align-content: center;
        color: #fff;
        white-space: nowrap;
        font-size: 7.5vw;
        z-index: 9;
        font-family: 'Poppins', sans-serif;

    }

    .hill4 {
        z-index: 10;
    }

    #btn {
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: #fff;
        color: #ffffff;
        font-size: 1.5em;
        z-index: 9;
        transform: translateY(100px);
    }

    .sec {
        position: relative;
        padding: 100px;
        background: #003329;
        z-index: 10;
    }

    .sec h2 {

        margin-bottom: 10px;
        color: #fff;

    }

    .sec p {
        font-size: 1em;
        color: #fff;
    }

    .cards {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 2%; 
        padding: 0 10%; 
        margin-bottom: 4%;
    }
    
    @media (max-width: 768px) {
        .cards {
            gap: 4%; 
        }
    }
    

    @media (max-width: 480px) {
        .cards {
            gap: 10px;
        }
    }

    .container {
        position: relative;
    }

    .container .card {
        position: relative;
        width: 320px;
        height: 450px;
        background: #232323;
        border-radius: 20px;
        overflow: hidden;
    }

    .container .card:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4b8a40;
        clip-path: circle(150px at 80% 20%);
        transition: 1s ease-in-out;
    }

    .container .card:hover:before {
        clip-path: circle(300px at 80% -20%);
    }

    .container .card:after {
        position: absolute;
        top: 30%;
        left: -20%;
        font-size: 12em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 255, 25, 0.05)
    }

    .container .card .imgBx {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 100%;
        height: 220px;
        transition: 1s;
    }

    .container .card:hover .imgBx {
        top: 0%;
        transform: translateY(0%);

    }

    .container .card .imgBx img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        width: 250px;
    }

    .container .card .contentBx {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
    }

    .container .card:hover .contentBx {
        height: 210px;
    }

    .container .card .contentBx h2 {
        position: relative;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
        margin: 0;
    }

    .container .card .contentBx .size,
    .container .card .contentBx .color {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: .4s;
        opacity: 0;
        visibility: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }

    .container .card:hover .contentBx .size {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }

    .container .card:hover .contentBx .color {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }

    .container .card .contentBx .size h3,
    .container .card .contentBx .color h3 {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
    }

    .container .card .contentBx .size span {
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        font-size: 14px;
        display: inline-block;
        color: #111;
        background: #fff;
        margin: 0 5px;
        transition: 0.5s;
        color: #111;
        border-radius: 4px;
        cursor: pointer;
    }

    .container .card .contentBx .size span:hover {
        background: #9bdc28;
    }

    .container .card .contentBx .color span {
        width: 20px;
        height: 20px;
        background: #ff0;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }

    .container .card .contentBx .color span:nth-child(2) {
        background: #9bdc28;
    }

    .container .card .contentBx .color span:nth-child(3) {
        background: #03a9f4;
    }

    .container .card .contentBx .color span:nth-child(4) {
        background: #e91e63;
    }

    .container .card .contentBx a {
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        border-radius: 4px;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        color: #111;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
        margin-top: 0;
    }

    .container .card:hover .contentBx a {
        opacity: 1;
        transform: translateY(12px);
        top: 10%;
        transition-delay: 0.75s;

    }
    @media screen and (max-width: 678px) {
        .thumbnail {
            justify-content: start;
        }
        .slider .list .item .content h2 {
            font-size: 60px;
        }
        .arrows {
            top: 10%;
        }
    }

    .back-video{
        position:absolute;
        left: 0;
        z-index: -1;
    }
    
    @media (min-aspect-ratio: 16/9) {
        .back-video {
            width: 100%;
            height: auto;
        }
    }
    @media (max-aspect-ratio: 16/9) {
        .back-video {
            width: auto;
            height: 100%;
        }
    }

    .about-section {
        display: flex;
        background-color: #01332A;
        overflow: hidden;
        padding: 150px 100px;
    }
    
    .about-image {
        display: flex; 
        width: 55%; 
        height: auto;
    }
    
    
    .inner-container{
        height: auto;
        width: 55%;
        float: right;
        background-color: #fdfdfd;
        padding: 60px;
    }

    @media screen and (max-width: 768px) {
        .about-section {
            flex-direction: column;
            padding: 50px 30px;
        }
    
        .about-image, .inner-container {
            width: 100%;
        }
    
        .inner-container {
            float: none;
        }
    }
    
    .inner-container h1{
        margin-bottom: 30px;
        font-size: 30px;
        /* font-weight: 900; */
        color: green;
    }
    
    .text{
        font-size: 12.5px;
        color: #545454;
        line-height: 25px;
        text-align: justify;
        padding: 0;

    }
    
    .skills{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 13px;
    }
    
    @media screen and (max-width:1200px){
        .inner-container{
            padding: 25px;
        }
    }
    
    @media screen and (max-width:1000px){
        .about-section{
            background-size: 100%;
            padding: 100px 40px;
        }
        .inner-container{
            width: 100%;
        }
    }
    
    @media screen and (max-width:600px){
        .about-section{
            padding: 0;
        }
        .inner-container{
            padding: 60px;
        }
    }