*{
    margin: 0;
    padding: 0;
}

.hero2{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../../img/login/banner1.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 280px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}

.input-group2{
    top: 50px;
    position: absolute;
    left: 50px;
    
    width: 280px;
}

.input-field{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right, #219657b5, #31b36eb4);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}


footer{
    position: absolute;
    bottom: 0;
    top: 100%;
    margin-top: 12px;
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 12px;
}

.terms {
    margin-top: 10px;
    color: #666;
}

/* .input-box{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
} */