*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../../img/signup/banner.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 520px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    transition: box-shadow 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-box:hover {
    box-shadow: 0 0 20px 9px #036c2b18;
}

.button-box{
    width: 255px;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #036c2b18;
    border-radius: 30px;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle-btn1{
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 40px;
    height: 50%;
    width: 300px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.toggle-btn2{
    padding-top: 5px;
    padding-right: 35px;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 50%;
    width: 300px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    padding-right: 20px;
    padding-left: 5px;
    position: absolute;
    width: 120px;
    height: 40px;
    background: linear-gradient(to right, #219657b5, #31b36eb4);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
    /* background-position: center; */
}
.input-field{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

/* .submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #219657b5, #31b36eb4);
    border: 0;
    outline: none;
    border-radius: 30px;
} */

.check-box{
    margin: 30px 10px 30px 0;
}

.input_error{
    color: #b94848;
    font-size: 12px;
    top: -15px;
    position: relative;
    display: none;
}

#login{
    left: 50px;
}

#signup{
    left: 450px;
}

footer{
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 12px;
}

.terms {
    margin-top: 10px;
    color: #666;
}
