/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #132613; /* Dark Green */
    color: white;
}

.header, .top-navbar {
    background-color: #0a190a; /* Dark Green */
    color: white;
    padding: 10px;
    text-align: center;
}

.welcome-message {
    font-size: 24px;
    color: white;
    margin-top: 60px;
    margin-left: 20px;
}

/* Search Bar Styling */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search {
    display: flex;
    align-items: center;
    border: 2px solid #0a190a; /* Dark Green */
    background-color: #193d19; /* Green */
    padding: 10px;
    border-radius: 5px;
}

.search input {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    width: 80%;
}

.search-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.bg-img img {
    width: 100%;
    border-radius: 10px;
}

/* Selection Links Styling */
.selections {
    text-align: center;
    margin-top: 20px;
}

.selection {
    display: inline-block;
    padding: 12px 30px;
    background-color: #0a190a; /* Dark Green */
    color: white;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.selection:hover {
    background-color: #193d19; /* Green */ 
