.bg-img{
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: -1; 
  width: 100vw;
  padding-left:0
}

.bg-img img{
  width:100vw; 
  height: 60vh
}

.search-container-index {
  display: flex;
  align-items: center;
  margin-top: 270px; 
  margin-left: 45px;
  width: 34%;
}

.search-input-index {
  flex: 1;
  margin-right:0;
  padding:19px 10px;
  border: 1px solid #f1f1f1;
  /* border-radius: 0!important; */
  font-size: 16px ;
  outline:none;
  margin-top: 5px;
  width: 95%;
  background: #f1f1f1;
  height:25px;
  display: block;
}

.search-button-index {
  /* background: #117e3b;  */
  background:#219657b5;
  border: 1px solid #117e3b;
  border-radius: 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left:0;
  margin-top:5px
  
}

.search-button-index:hover {
  background:#729e7d;
}

.search-icon-index {
  height: 16px;
  position: relative;
  top: 2px;
} 

.search-category-index option:checked {
  color: white;
}

.search-category-index {
  margin-left: 0px;
  margin-top: 5px;
  padding:12px 1px;
  background:#219657b5;
  border: 1px solid #117e3b; 
  cursor: pointer;
  /* background: #729e7d;
  border: 1px solid #729e7d; */

  /* background: #729e7d;
  border: 1px solid #729e7d; */

  background:#219657b5;
  border: 1px solid #117e3b; 
  cursor: pointer;
}

.selectad-category option {
    padding: 12px; /* Adjust the padding as needed */
}


.selectad-category{
  color:brown;
}

.search-category-index {
  background-size: 15px; /*size of the arrow icon */
  color: white; /* text color to white */
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
}

.big-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 90px;
}

.option {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  overflow: hidden;
  height: 300px; /* Remove the fixed height to allow content to determine height */
}

.left-side,
.right-side {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.right-side {
  background-color: #f2f2f2; /* Background color for the right side */
}

.left-side h1,
.left-side h2 {
  font-size: 32px;
  color: #ffffff;
  /* color: #448041; */
}

.left-side-A {
  background-color:  #15a087; /* Yellow background for left side of A */
  color: #ffffff;
}

.left-side-B {
  background-color: #729e7d; /* Green background for left side of B */
  color: #ffffff;
}
.right-side img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(100%) ;
}


.greenish-image {
  position: relative; 
}


.greenish-image::before {
  content: ""; /* Create a pseudo-element for the black layer */
  position: absolute; /* Position the black layer absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5 for 50% opacity) and color as needed */
  z-index: 1; /* Ensure the black layer is above the image */
}

.greenish-image img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 2; /* Make sure the image is on top of the black layer */
}

.text-on-layer {
  position: absolute;
  top: 50%; /* Adjust the vertical position as needed */
  left: 50%; /* Adjust the horizontal position as needed */
  transform: translate(-50%, -50%); /* Center the text within the parent */
  color: white;
  font-size: 40px; 
  text-align: center;
  white-space: pre-line; 
  letter-spacing: 1px;
  line-height: 1.5;
  z-index: 3; 
  font-family: 'Lato', sans-serif;
}

footer {
  position: relative;
  bottom: 0;
  background-color: var(--text-color-dark-text-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


