/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap'); */

.paymentpage{
  margin:0; 
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-transform: capitalize;
  transition: all .2s linear;
  overflow: hidden;
  /* margin-top: 40px; */
}

.containerpaymentport {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  /* padding:25px; */
  /* min-height: 95vh; */
  background: fixed;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* .containerpaymentport{
  padding-top: 0;;
} */

.containerpaymentport  form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.containerpaymentport  form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.containerpaymentport  form .row .col{
  flex:1 1 250px;
}

.containerpaymentport  form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.containerpaymentport  form .row .col .inputBox{
  margin:15px 0;
}

.containerpaymentport  form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.containerpaymentport  form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.containerpaymentport  form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.containerpaymentport  form .row .col .flex{
  display: flex;
  gap:15px;
}

.containerpaymentport  form .row .col .flex .inputBox{
  margin-top: 5px;
}

.containerpaymentport  form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.containerpaymentport  form .payment-submit-btn{
  width: 60%;
  padding:12px;
  font-size: 17px;
  background: var(--green);
  color:#fff;
  margin-top: 5px;
  /* margin-left: 140px; */
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  align-self: center;
}

.containerpaymentport  form .payment-submit-btn:hover{
  background: #2ecc71;
}