
  #banner96 {
    position: relative; /* Allows pseudo-elements to position relative to this element */
    width: 100%;
    height: 40vh;
    margin-top: -200px;
    background-image: url(../../public/img/Recyclehome/image/pikaso_texttoimage_35mm-film-photography-Detailed-shot-capturing-the.jpeg); /* Background image */

  }
  
  /* This layer creates the blurred background */
  #banner96::before {
    content: "";
    position: absolute; /* Absolute positioning to stretch across the parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;  /* Ensures background covers the whole area */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay to create the fade */
    background-position: 70% 30%; /* Manual position of the background */
    filter: blur(3px); /* Applies the blur effect to this layer */
    z-index: 0; /* This should be below the text content */
  }
  
  /* This container holds the text and should not be blurred */
  .recenter96 #banner96 .text96 {
    position: relative; /* Positioning to be above the blurred background */
    z-index: 1; /* Ensures it's above the background */
    text-align: center;
    margin-top: 20px;
    padding-top: 120px;
  }
  
  /* Styles for the text within the clear layer */
  #banner96 .text96 h4,
  #banner96 .text96 h2 {
    color: white; /* White text for visibility */
  }
  
  button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }
  .normal {
    margin-top: 10px; /* Adds 30px padding at the top */
    /* Other button styles */
  }
  
  .big-photo-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 800px;
    text-align: center;  
}
  
.big-photo1 {
    width: 100%; /* Make the photo take the full width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block;
  }
  
.d2{
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: 500px;

}

.d2_1{
    width: 60%;
    margin-right: 0.5%;
}

.d2_1 img{
    width: 100%;
    cursor: pointer;
}

.d3{
    width: 40%;
    margin-left: 0.5%;
}

.d3_1{
    height: 50%;
    margin-bottom: 0.5%;
    cursor: pointer;
}

.d3_2{
    height: 50%;
    position: relative;
}

.d3_1 img,
.d3_2 img{
    width: 100%;
    height: 100%;
}


.sign-up-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    z-index: 1;
}

.sign-up-button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #fff;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: -1;
    transition: height 0.3s ease;
}

.sign-up-button:hover:before {
    height: 100%;
}

.slider{
  height: 100vh;
  position :relative;
}

  
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 20%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 5%;
    top: 30%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content #content1{
    margin-top: -149px;
    font-size: 60px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
    color: rgb(255, 255, 255);
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
/* ... previous CSS code ... */
.slider .list .item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ... next CSS code ... */

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
    color: #fff;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    
    right: 50px;
    z-index: 100;
}

.slider .list .item{
  position :absolute;
  inset:0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition:0.5s;

} 

.slider .list .item img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    margin-top: 680px;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 90%;
    height: 150px;
    padding-left: 10%;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;

}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 100px;
    height: 120px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}

.rec-card{
  display: flex;
  height: 100vh; 
  gap: 25%;
  margin-left: 15%;
  margin-bottom: 12%;
}

.rec-card-hover {
    margin-top: 15%;
    width: 310px;
    height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
 
  }
  .rec-card-hover:has(.rec-card-hover__link:hover) .rec-card-hover__extra {
    transform: translateY(0);
    transition: transform 0.35s;
  }
  .rec-card-hover:hover .rec-card-hover__content {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  .rec-card-hover:hover .rec-card-hover__link {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  .rec-card-hover:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  .rec-card-hover__content {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
  }
  .rec-card-hover__content::before, .rec-card-hover__content::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .rec-card-hover__content::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
            clip-path: ellipse(60% 80px at bottom center);
  }
  .rec-card-hover__content::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
            clip-path: ellipse(60% 80px at top center);
  }
  .rec-card-hover__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .rec-card-hover__title span {
    color: #2d7f0b;
  }
  .rec-card-hover__text {
    font-size: 0.75rem;
  }
  .rec-card-hover__link {
    position: absolute;
    top: 87%;
    bottom: .7rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 15px;
    transition: all 0.35s;
    font-size: 1rem; 
  }
  .rec-card-hover__link:hover svg {
    transform: translateX(4px);
  }
  .rec-card-hover__link svg {
    width: 18px;
    margin-left: 2px;
    margin-top: 3px;
    transition: transform 0.3s;
  }
  .rec-card-hover__extra {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    /* will-change: transform; */
    transition: transform 0.35s;
  }
  .rec-card-hover__extra span {
    color: #2d7f0b;
  }
  .rec-card-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }


/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
    .d2 {
        flex-direction: column;
        height: auto;
    }

    .d2_1,
    .d3 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.user-greeting {
  margin-top: -110px;
  color: rgb(136, 245, 172); /* White text color */
  padding: 10px; /* Padding around the greeting */

}

.user-greeting p {
  margin: 0; /* Remove default margin for the paragraph */
}

.flash-message {
  /* Style for the flash message (adjust as needed) */
  background-color: #f2f2f2;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}




#content1 {
  font-size: 24px; /* Adjust the font size as needed */
  color: #e8e7e7; /* Text color */
  margin-bottom: 20px;
  /* Add more styles as per your design requirements */
}

.welcome{
  margin-top: 40px;
}






.b111{
  --black:#000;
  --white:#166013;
  --lightgrey:#000000;
  --darkblue:#0d102c;
  --primarycolor:#3d51f2;
  --secondarycolor:#5670ef;
  --darkText:#8388B4;
}




