
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sechbutton{
    margin-bottom: 1%;
    cursor: pointer;
    color: #ffffff;
    background-color: #0D4929;
    border-radius: 30%;
    /* border: #ffffff; */
}

.b1 {
    margin-bottom: 1%;
    cursor: pointer;
    color: #ffffff;
    background-color: #006EDB;
}

.sechomewelcome {
    color: #fcfcfc;
    margin-top: 2%;
    margin-bottom: 1%;
}

.p1 {
    color: #fcfcfc;
    margin-top: 0%;
    margin-bottom: 1%;
}

.main-content {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    background-color: #0D4929;
    height: 210px;
}

.photo-left{
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
}
.photo-right {
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
}

.photo-left {
    left: 10px;
}

.photo-right {
    right: 1px;
}

.photos img {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
}

.content-center {
    text-align: center;
    max-width: 605px; /* Set a maximum width for larger screens */
    width: 100%; /* Make it take full width on smaller screens */
}

.welcome-text {
    margin-bottom: 0px;
    padding-bottom: 0%;
}

.search-bar {
    margin-bottom: 5px;
    max-width: 600px; /* Set a maximum width for larger screens */
    width: 100%; /* Make it take full width on smaller screens */
}

.search-bar input {
    padding: 2px;
    width: 100%; /* Make it take full width on smaller screens */
    
}

.find-ads {
    margin-bottom: 20px;
    
}

.cont2 {
    outline: 1px solid red;
}

.featured-categories {
    margin: 20px;
}

.category-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.category-photos .photo {
    text-align: center;
    margin: 10px;
}

.head1 {
    text-align: center;
}

.p2 {
    text-align: center;
}

.photo {
    cursor: pointer;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .main-content {
        height: auto; /* Adjust height for smaller screens */
    }


    .photo-left{
        position: relative; /* Adjust position for smaller screens */
        top: auto;
        transform: none;
        margin-bottom: 10px;
    }
    .photo-right {
        position: relative; /* Adjust position for smaller screens */
        top: auto;
        transform: none;
        margin-bottom: 10px;
    }

    .photos img {
        width: 100%; /* Make images take full width for smaller screens */
        height: auto;
    }

    .content-center {
        max-width: 100%; /* Adjust max-width for smaller screens */
    }

    .search-bar {
        max-width: 100%; /* Adjust max-width for smaller screens */
    }
}
