
.save-ad-container {
    --color: #a5a5b0;
    --size: 20px;
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
    /* justify-content: center;
    align-items: center;
    position: relative; */
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .save-ad-container .save-regular {
    position: absolute;
    animation: keyframes-fill .5s;
    transform-origin: top;
    justify-content: center;
  }
  
  .save-ad-container .save-solid {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
    transform-origin: top;
  }
  
  /* ------ On check event ------ */
  .save-ad-container input:checked ~ .save-regular {
    /* display: none; */
    transform: initial;
    margin-top: initial;
    height: initial;
  }

  /* style="fill: black; width: 24px; height: 24px;" */
  
  .save-ad-container input:checked ~ .save-solid {
    display: block;
    transform: initial;
    margin-top: initial;
    height: initial;
  }
  
  /* ------ Hide the default checkbox ------ */
  .save-ad-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scaleY(1.2);
    }
  }

  /* phone icon */
  .dashboard-phone-icon {
    color: #a5a5b0;
    margin-left: 40px;
}