:root{
    --green: #197149;
    --white: #fff;
    --grey: #b2bec3;
    --black1: #2d3436;
    --black2: #636e72;
}

.dashboard-container{
    position: relative;
    width: 100%;
}

.dashboard-sidenav{
    position: fixed;
    top: 0; 
    bottom: 0; 
    width: 200px;
    height: 100%;
    background-color: var(--green);
    border-left: 10px solid var(--green);
    transition: .5s;
    overflow: hidden;
}

.dashboard-sidenav.active{
    width: 60px;
}

.dashboard-sidenav ul{
    position: absolute;
    left: -40px;
    width: 100%;
}

.dashboard-sidenav ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.dashboard-sidenav ul li:hover,
.dashboard-sidenav ul li.hovered{
    background: var(--white);
}

.dashboard-sidenav ul li:nth-child(1){
    margin-bottom: 30px;
    /* margin-left: -13.5px; */
    pointer-events: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

.dashboard-sidenav ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.dashboard-sidenav ul li:hover a,
.dashboard-sidenav ul li.hovered a{
    color: var(--green);
}

.dashboard-sidenav ul li a .side-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px; 
    line-height: 71px;
    text-align: center;
}

.dashboard-sidenav ul li a .side-icon ion-icon{
    font-size: 1.5em;
}

.dashboard-sidenav ul li a .side-title{
    position: relative;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.dashboard-sidenav ul li:hover a::before,
.dashboard-sidenav ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 30%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.dashboard-sidenav ul li:hover a::after,
.dashboard-sidenav ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 30%;
    box-shadow: 40px -35px 0 10px var(--white);
    pointer-events: none;
}

.dashboard-main{
    position: absolute;
    width: calc(100% - 600px);
    left: 220px;
    min-height: 100vh;
    background: var(--white);
    transition: .5s;
}

.dashboard-main.active{
    width: calc(100% - 600px);
    left: 80px;
}

.dashboard-topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px 10px;
}

.dashboard-toggle{
    position: relative;
    top:14px;
    width: 60px;
    height: 60px;
    background: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.dashboard-search{
    position: relative;
    width: 300px;
    margin: 0 10px;
    left: center;
}

.dashboard-search label{
    position: relative;
    width: 100%;
}

.dashboard-search label input{
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 14px;
    outline: none;
    border: 1px solid var(--black2);
}

.dashboard-search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.first-li {
    margin-top: -10px; 
    margin-left: 0;
}

.first-li a{
    font-size: 30px;
}

.dashboard-cardBox{
    position:relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 30px;
}

.dashboard-cardBox .dashboard-card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.dashboard-cardBox .dashboard-card .dashboard-numbers{
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: var(--green);
}

.dashboard-cardBox .dashboard-card .dashboard-cardName{
    position: relative;
    font-size: 1em;
    color: var(--black2);
    margin-top: 5px;

}

.dashboard-cardBox .dashboard-card .dashboard-iconBx{
    font-size: 3em;
    color: var(--black2);
}

.dashboard-cardBox .dashboard-card:hover{
    background: var(--green);
}

.dashboard-cardBox .dashboard-card:hover .dashboard-numbers,
.dashboard-cardBox .dashboard-card:hover .dashboard-cardName,
.dashboard-cardBox .dashboard-card:hover .dashboard-iconBx{
    color: var(--white);
}



