
.dashboard-body{
    overflow-x:hidden;
}

.dashboard-container{
    position: relative;
    width: 100%;
}

.dashboard-sidenav{
    position: fixed;
    width: 190px;
    height: 100%;
    background-color: var(--green);
    border-left: 10px solid var(--green);
    transition: .5s;
    overflow: hidden;
}

.dashboard-sidenav.active{
    width: 70px;
}

.dashboard-sidenav ul{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 0;
}

.dashboard-sidenav ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.dashboard-sidenav ul li:hover,
.dashboard-sidenav ul li.hovered{
    background: var(--white);
}

.dashboard-sidenav ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.dashboard-sidenav ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.dashboard-sidenav ul li:hover a,
.dashboard-sidenav ul li.hovered a{
    color: var(--green);
}

.dashboard-sidenav ul li a .side-icon {
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px; 
    line-height: 70px;
    text-align: center;
}

.dashboard-sidenav ul li a .side-icon ion-icon{
    font-size: 1.75em;
}

.dashboard-sidenav ul li a .side-title{
    position: relative;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    text-align: start;
    white-space: nowrap;
}

.dashboard-sidenav ul li:hover a::before,
.dashboard-sidenav ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.dashboard-sidenav ul li:hover a::after,
.dashboard-sidenav ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.dashboard-main{
    position: absolute;
    width: calc(100% - 220px);
    left: 200px;
    min-height: 100vh;
    background: var(--white);
    transition: .5s;
}

.dashboard-main.active{
    width: calc(100% - 110px);
    left: 90px;
}

.dashboard-topbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.dashboard-toggle{
    position: relative;
    top:11px;
    width: 60px;
    height: 60px;
    background: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.dashboard-search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.dashboard-search label{
    position: relative;
    width: 100%;
}

.dashboard-search label input{
    position: relative;
    width: 100%;
    height: 35px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 14px;
    outline: none;
    border: 1px solid var(--black2);
}

.dashboard-search label ion-icon{
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: 1.2em;
}

.dashboard-user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.dashboard-user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.first-li {
    margin-top: -10px; 
    margin-left: 0;
}

.first-li a{
    font-size: 30px;
}

.dashboard-cardBox{
    position:relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.dashboard-cardBox .dashboard-card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.dashboard-cardBox .dashboard-card .dashboard-numbers{
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: var(--green);
}

.dashboard-cardBox .dashboard-card .dashboard-cardName{
    position: relative;
    font-size: 1.1em;
    color: var(--black2);
    margin-top: 5px;

}

.dashboard-cardBox .dashboard-card .dashboard-iconBx{
    font-size: 2.5em;
    color: var(--black2);
}

.dashboard-cardBox .dashboard-card:hover{
    background: var(--green);
}

.dashboard-cardBox .dashboard-card:hover .dashboard-numbers,
.dashboard-cardBox .dashboard-card:hover .dashboard-cardName,
.dashboard-cardBox .dashboard-card:hover .dashboard-iconBx{
    color: var(--white);
}

.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 35px;
    min-height: 200px;
}

.graphBox .box {
    position: relative;
    background: #fff;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 5fr 1fr; */
    grid-gap: 30px;
}

.details .recentOrders {
    position: relative;
    display: grid;
    grid-auto-flow: row; /* This will make the grid items flow vertically */
    align-items: start; /* This will align the items to the start of the grid area */
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--green);
}

.cardHeader .btn {
    position: relative;
    padding:  10px;
    top: 10px;
    background: var(--green);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

.details table thead td {
        font-weight: 600;
    }


.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--green);
    color: var(--white);
}

.details .recentOrders table tr td {
    padding: 15px;
}

/* .details .recentOrders table tr td:last-child {
    text-align: center;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: center;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
} */

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 12x;
    font-weight: 300;
}

.status.inprogress {
    padding: 2px 4px;
    background: #1795ce;;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}


.usertype.rSeller {
    padding: 2px 4px;
    background: #50ad25;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.usertype.pBuyer {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.usertype.pSeller {
    padding: 2px 4px;
    background: rgb(113, 65, 185);
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.usertype.seller {
    padding: 2px 4px;
    background: #1795ce;;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.usertype.admin {
    padding: 2px 4px;
    background: #ce5a17;;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.usertype.moderator {
    padding: 2px 4px;
    background: #12929b;;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;

}
.usertype.center {
    padding: 2px 4px;
    background: #6b8e14;;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}

.usertype.collector {
    padding: 2px 4px;
    background: #8740c1;;
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;
}



.recentCustomers {
    position: relative;
    display: grid;
    grid-auto-flow: row; /* This will make the grid items flow vertically */
    align-items: start; /* This will align the items to the start of the grid area */
    /* min-height: 500px; */
    padding: 20px;
    margin-top: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover {
    background: var(--green);
    color: var(--white);
}

.recentCustomers table tr td {
    padding: 0px 10px;
}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover {
    background: var(--green);
    color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }

    .dashboard-sidenav {
        left: -300px;
    }

    .dashboard-sidenav.active {
        width: 300px;
        left: 0;
    }

    .dashboard-main {
        width: 100%;
        left: 0;
    }

    .dashboard-main.active {
        left: 300px;
    }
    .dashboard-cardBox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .dashboard-cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .dashboard-user {
        min-width: 40px;
    }

    .dashboard-sidenav {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .dashboard-sidenav.active {
        width: 100%;
        left: 0;
    }

    .dashboard-toggle{
        z-index: 10001;
    }

    .dashboard-main.active .dashboard-toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}


.heading-dashboard{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px; 
}











/* report ads css on moderator dashboard */

.reported-ads-container {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reported-ads-table {
    width: 90%;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* transition: all 300ms ease; */
    border-spacing: 0;
}

.reported-ads-table:hover {
    box-shadow: none;
}

.reported-ads-table tr {
    transition: all 200ms ease;
    cursor: pointer;
}

.reported-ads-table tr:not(:first-child):hover {
    background: #dce1eb;
    color: var(--color-light);
    transform: scale(100%, 105%);
}

.reported-ads-table th {
    background: #848bc82e;
    border: none;
    height: 4rem;
    text-align: center;
}

.reported-ads-table td {
    height: 4.0rem;
    border-bottom: 1px solid #848bc82e;
    color: var(--color-dark-variant);
    font-weight: 550;
    
}

.reported-ads-table:last-child tr:last-child td {
    border: none;
}

.reported-ads-table img {
    width: 8rem;
    margin: 0.5rem;
}

#removeadbtn ,.btn.btn-success{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    z-index: 5000;
}

.reported-ads-table button:hover,
.reported-ads-table button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.reported-ads-table button:active {
    opacity: .5;
}

#viewadbtn ,.btn.btn-danger{
    background: #28a745; 
    border: 1px solid #28a745;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    z-index: 5000;
    margin-right: 0.5rem;
}

/* CSS for Profile Settings Content */
.profile-settings-container {
    /* margin: 2% 5%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabs-container {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    align-self: flex-start;
    margin-left: 5%;
}

.tab-link {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.tab-link.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    display: none;
    width:90%;

    padding: 5%;

    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.tab-content.active {
    display: block;
}

/* .profile_image {
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.image-container {
    width: 160px; /* Set the desired width for the profile image */
    height: 160px; /* Set the desired height for the profile image */
    overflow: hidden;
    border-radius: 50%; /* To make the image circular, you can adjust the border-radius as needed */
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff; /* White border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}

.file-upload input[type="file"] {
    display: none;
}

.profile-updatebt {
    background-color: var(--green); /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display
}

.form-control.input-field-box {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.right-below {
    display: flex;
    gap: 30px;
}


.form-invalid {
    color: red;
}

.delete-icon {
    background-color: white; 
    border: none;
    cursor: pointer; 
    color: #000000;
}

/* Style the button on hover */
.delete-icon:hover {
    color: #cc0000; /* Darker red on hover */
}


.col-md-3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.dashboard-icons-container{
    display: flex;
    margin-top: 5px;
}

.dashboard-icons-container button,
.dashboard-icons-container .button{
    background-color: #8e8e8e;
    color: #fff;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:0 5px;
}

.form-group {
    width: 500px;
    margin-top: 30px;
}

.main-profile-img{
    margin-top: 20px;
}

.main-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard-icons-container label {
    cursor: pointer;
}
